[2016-05-15 19:12] Klathmon opened #3 "Easy integration with html-webpack-plugin"
Is there any easy way to integrate this into the [html-webpack-plugin](https://github.com/ampedandwired/html-webpack-plugin)?

I didn't want to go nuts implementing my own stuff to insert the hashes into the output html if there is an easier way.

[2016-05-19 21:15] SPSpwetter commented on #3
Or with https://github.com/jaketrent/html-webpack-template?

[2016-05-24 09:34] jscheid commented on #3
Hi, currently there is no integration with these packages and since we're not using them, no plans to implement any at the moment.

It sounds like a good fit though so if you want to go ahead and build integration I'd be happy to merge. Perhaps using their [event hooks](https://github.com/ampedandwired/html-webpack-plugin#events)?

[2016-05-25 20:05] SPSpwetter commented on #3
Seems like it might be possible by tweaking their templates to pull the SRI info you're already creating? I may be working on this in a couple of weeks.

[2016-05-26 01:06] SPSpwetter commented on #3
I got it working by turning off injection and adding:

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"
	integrity = "<%= compilation.assets[chunk+"."+htmlWebpackPlugin.files.chunks[chunk].hash+".bundle.js"].integrity %>"></script>
<% } %>

To my template.

[2016-06-09 21:04] SPSpwetter commented on #3
FYI, still working on this. html-webpack-plugin would rather a write a hook to modify the HTML after the fact. I'm open to that, but its a little downstream of where i would like to do it, so we're going back and forth.

[2016-06-13 22:40] #3 closed

[2016-06-17 00:25] SPSpwetter opened #7 "stack-overflow in processChunkRecursive"
Hints would be appreciated. Seems to be on the first chunk, which is a manifest chunk. Logging the chunk ids seems to show a loop.

[2016-06-17 01:08] jscheid commented on #7
Could provide a test case or example project that demonstrates the issue?

[2016-06-17 01:19] SPSpwetter commented on #7
Not yet. I'm trying to debug it but basically line 101 is vulnerable to a loop in the dependencies because the recursion will never finish. I'm trying to see if we did something to cause this loop. Hacking in a flag for already touched chunks prevents the crash.

Sent from my iPhone.

[2016-06-17 01:24] jscheid commented on #7
I'll have a look at this soon. It might be just a case of webpack not preventing circular dependencies, in which case it's just a matter of checking to see if the chunk has been visited before. It does sound like your project's dependencies are a bit wonky though.

[2016-06-17 01:29] SPSpwetter commented on #7
I thought that at first and added a plugin and tried a tool and it says they're ok. Note that this is dependencies between chunks not files so I'm not sure how it's happening.

Sent from my iPhone.

[2016-06-17 01:43] SPSpwetter commented on #7
Reviewed the differences vs. master, and there was nothing wonky in the new dependencies that I could see.

[2016-06-17 01:50] jscheid commented on #7
I've tried a few things:
- `file1` uses `require.ensure` to lazily load `file2`, and vice versa
- `file` lazy-loads `file2`, `file2` lazy-loads `file3`, `file3` lazy-loads `file1`
- `file1a` loads (eagerly) `file1b`, which lazily loads `file2`, which lazily loads `file1a`.

All of these work, so I'm not quite sure how to construct a test case.

I suppose we could add the flag for already touched c

[2016-06-17 01:59] jscheid commented on #7
Also, what version of `webpack` and `webpack-core` are you using?

[2016-06-17 02:04] SPSpwetter commented on #7
Yep, trying to figure out what caused this. I hacked in a log around the flag. It was someone else branch that merged in my SRI changes, so I'm sort of doing a binary search on require entries to see if figure out the loop. It's a loop between modules though, which all get funneled through a single router and some module definition files that have the synchronous require lines. I renamed all the m

[2016-06-17 02:36] SPSpwetter commented on #7
Interesting. The loop is because I have two modules: moduleA, and moduleB, that both think they depend on all the other modules plus one of each other. I'm wondering if this is a side effect of the CommonChunks plugin?

[2016-06-17 02:51] SPSpwetter commented on #7
Found it, I had a file that was requiring the main entry file. That caused the loop. Though its interesting the build worked before that. Basically, we were getting away with it before because the file in that chunk required all the other chunks, but that worked out until I needed the file in two chunks.

[2016-06-17 08:57] jscheid commented on #7
I'm glad it works for you now. Could you still help me reproduce this? I've tried a few more things with `CommonChunksPlugin` and multiple entry points but can't seem to cause an infinite recursion no matter what I try.

[2016-06-17 14:06] SPSpwetter commented on #7
Sure. In the light of day I remember how it happened.  The problem is that my entry file also defines some global utilities. Normally they're loaded early. But in my Karma tests each test is its own unique entry file so it can't assume that the global are there. When the test was failing I added the entry file as a require to the file that needed the utilities rather than to the test because that

[2016-06-17 15:57] jscheid commented on #7
Fixed in df43b849ac12a5cffd5223298fa12223448b242c, published as 0.4.2.

[2016-06-17 15:57] #7 closed

[2016-08-09 08:08] busybeaver opened #9 "Resources in subfolders not found"
It seems like the plugin has problems with resources located in subfolders.

My webpack output dir looks something like:

[code]

Using the 'webpack-subresource-integrity' (in combination with the html-webpack-plugin), the following warning occurs for all resources:

After some debugging, the issue seems to be in [index.js#L164](/waysact/webpack-subresource-integrity/blob/f6aae779f6c88f9316e81bacb

[2016-08-10 17:41] jscheid commented on #9
@SPSpwetter this is fixed by simply not calling `basename`. Do you remember why you've added it in the first place? Do you think this change could break anything?

I've also removed the `basename` call from your example in the README and while doing so I've noticed that the example needlessly checks whether the integrity value is available. As far as I can tell, there should always be an integrity

[2016-08-10 17:47] SPSpwetter commented on #9
I added it because the compilation.assets keys seemed to be just base name, while the chunk key was a longer path. That is, compilation.assets[src] didn't work.

[2016-08-10 17:47] SPSpwetter commented on #9
As far as the conditional goes, I was just paranoid about assets that weren't processed.

[2016-08-10 17:50] jscheid commented on #9
In my test cases the source filename and the asset key are identical (they are both relative to the the root directory). Could I ask you to try and recreate the situation in which they were different?

[2016-08-10 18:05] SPSpwetter commented on #9
You mean run my regular build? Sure... Is there a trick for getting console.log to show before/after? I think the problem is that my html is in a separate path, so I have to generate ../../html/home.html

[2016-08-10 18:22] jscheid commented on #9
@SPSpwetter perfect, I can reproduce with that information. I'll take it from here, thanks!

[2016-08-10 19:40] jscheid commented on #9
@SPSpwetter should cover that case too now. Any chance you could give my branch a try in your application build?

[2016-08-10 20:21] SPSpwetter commented on #9
Yeah I can try that.

[2016-08-10 20:30] SPSpwetter commented on #9
Thumbs up. Let Go The Merge.

[2016-08-10 20:32] #9 closed

[2016-08-10 20:37] jscheid commented on #9
Thanks all, released in v0.5.1 🎉

[2016-08-11 11:33] busybeaver commented on #9
thanks everyone for the quick resolution 👍

[2016-10-11 09:29] noderat opened #11 "SRI can't be determined with 0.5.1 release"
After moving to 0.5.1 I'm now finding all of my chunks fail to generate a hash. (not using html-webpack-plugin)

Example:
[code]

[2016-10-11 10:36] jscheid commented on #11
Hi, could you provide some more information? Ideal would be a test case or a sample repository demonstrating the bug, or at least a copy of your Webpack configuration.

[2016-10-11 16:51] noderat commented on #11
I tried using html-webpack-plugin to see if that had any effect, though now I can tell it throws the warnings prior to even reaching the html plugin. Here's the webpack config from my latest attempt:
[code]

[2016-10-11 20:52] jscheid commented on #11
Thanks, could you send over your `source/index.ejs` as well please?

[2016-10-11 21:37] noderat commented on #11
Sure, though keep in mind this throws the same warnings even if webpack-html-plugin is not used. I've included both ways I've attempted to include SRI into the EJS template.

[code]

[2016-10-11 22:37] #11 closed

[2016-10-11 22:49] jscheid commented on #11
Thanks again for providing some context, it allowed me to reproduce and fix this. I'm planning to release the fix shortly as 0.5.2, however in the course of debugging this I found a potential issue with the documentation that I would like to investigate first, so it might take another day or two.

In the meantime, could you test the commit to make sure that it fixes your issue?

    npm install wa

[2016-10-12 17:42] noderat commented on #11
npm throws an error, perhaps it's something with your `package.json`?

[code]

[2016-10-12 20:39] noderat commented on #11
It appears that even with the npm error, it correctly installed and appears to be working. I'm going to test a little more though since now the ejs template is failing with `Cannot read property 'integrity' of undefined` so I'm thinking the template code provided in your readme.md needs to check if the object exists first.

[2016-10-12 22:35] jscheid commented on #11
@noderat that's the other unrelated issue I'm going to look at. (Unrelated in the sense that it doesn't have anything to do with the `... the resource will be unprotected` issue that you've reported.) I'm in the process of reworking that example code in the README, I'll let you know when I have something to look at. Maybe not this week as I'm going to be travelling. As a workaround you could enabl

[2016-10-12 22:50] noderat commented on #11
I'll try that for now, I wasn't planning on using webpack-html-plugin but it seems to fit my needs so I'll continue and see what I can come up with. Thanks for the assistance @jscheid, very much appreciated.

[2016-10-27 19:32] noderat commented on #11
@jscheid Any update on getting a new release pushed with this fix?

[2016-11-14 13:15] jscheid commented on #11
@noderat sorry it took so long, but this is released now in v0.6.0. See also the changes in #13 which you might find useful for when running with `inject: false`? I hope it all works for you now, let me know if something still isn't.

[2016-11-15 12:14] Craga89 opened #14 "[Bug] thisCompilation.mainTemplate is never hit"
Using this plugin in our webpack build produces no difference to the output `webpackJsonp` function. After some debugging, it looks as if the code within the `this-compilation` plugin is never getting called.

If I change the following lines:

[code]

To this:

[code]

It works.

Looking at the webpack source code, it looks like `this-compilation` event/plugin actually [fires _before_ `compilation

[2016-11-15 16:13] jscheid commented on #14
Hi, thanks for your bug report. See also #4 where somebody reported a similar issue, unfortunately back then I wasn't able to reproduce.

Can you provide a failing test case or a sample project that shows the problem? Which version of webpack are you using?

[2016-11-15 16:41] jscheid commented on #14
Regarding your analysis of `this-compilation`: firstly the code path definitely can get hit (the plugin works fine in our webpack config, and the test cases all pass -- try uncommenting the code in question and they will fail.) Secondly you're assuming that `Compiler.newCompilation` is only executed once per compiler run, which is not (necessarily) the case as you can verify yourself e.g. by addin

[2016-11-15 17:15] jscheid commented on #14
I've had a look at the code and I think there's an elegant way to make it work reliably (and better in your case) by using the `after-optimize-assets` entry point instead of the `optimize-assets` entry point and do away with the double registration hack. Still, I'd feel much better making this change if I could reproduce your issue first, so for now I'm going to wait for more info from you.

[2016-11-16 22:32] Craga89 commented on #14
The specific Webpack build I'm using is a production site for the company I work for but I'll do my best to boil this down to specific versions where I can reproduce. Thanks for the detailed reply!

[2016-11-17 20:51] noderat commented on #11
@jscheid Perfect! Great release!

[2016-11-18 16:08] pwnsdx opened #15 "Bug when using the plugin"
Hello,

Thanks you for this plugin. I'm actually getting a very weird bug while using your plugin.

Here is the error:

Error parsing 'integrity' attribute ('*-*-*-CHUNK-SRI-HASH-1-*-*-*'). The specified hash algorithm must be one of 'sha256', 'sha384', or 'sha512'.
requireEnsure @ main.3bf4ea4….js:8036
(anonymous) @ category.3bf4ea4….js:44
__webpack_require__ @ main.3bf4ea4….js:7395
webpackJsonpC

[2016-11-18 16:11] pwnsdx commented on #15
Also, I was wondering, is your plugin works well with plugins like [promise-loader](https://github.com/gaearon/promise-loader)?

Regards,
S

[2016-11-18 18:10] jscheid commented on #15
Hi, thanks for your bug report. Could you create a test project that demonstrates the issue?

[2016-11-18 18:14] jscheid commented on #15
And yes, it should work fine with promise-loader. We're using this plugin and promise-loader in the same project and haven't had any issues.

[2016-11-18 18:19] jscheid commented on #15
If you don't find it easy to reproduce the issue in a project that you can share, perhaps it would be enough if you could send over your webpack config and your `package.json`.

[2016-11-19 10:07] pwnsdx commented on #15
Hello,

I'm going to try to reproduce the issue with a fresh webpack config. If I'm unable I'll send you my webpack config and package.json. Do you have a PGP public key?

Regards,

[2016-11-19 13:55] Lokaltog commented on #15
I'm receiving this error as well. It neven happens on static builds, but happens when I use webpack-dev-server. Steps to reproduce:

1. Start webpack-dev-server
2. Edit and save a file (triggering a rebuild)
3. Refresh browser

Console error:

[code]

[2016-11-19 13:58] Lokaltog commented on #15
I followed the stack trace and the error appears to be triggered if you use module splitting in webpack 2, combined with webpack-dev-server.

This works: `import foo from 'bar';`

This does not: `System.import('foo').then(...)`

[2016-11-19 14:14] jscheid commented on #15
@Lokaltog interesting, that would make sense because of incremental rebuilds. It would also explain why I've never encountered the issue (we're using SRI only in production, not in development mode. And we're not using hot reloading in production either.)

@pwnsdx are you also using webpack-dev-server when you see the issue?

I will have to think a bit more about this, but my initial reaction is t

[2016-11-19 15:04] pwnsdx commented on #15
Hi there,

Yes. I was using webpack-dev-server while having this bug. But I'm on Webpack 1, not 2. Going to try a production build to see if everything is okay, if yes then it might be the root cause.

Regards,
S.

[2016-11-19 15:05] Lokaltog commented on #15
@jscheid I ended up disabling it for development. The only reason it was enabled in my dev setup to begin with was that I put it in the array of shared plugins instead of the production-specific plugins.

I can't imagine anyone needing this in development, so if this error is limited to webpack-dev-server and difficult to fix, I think a note about how to avoid this issue in the docs would be suffi

[2016-11-19 18:19] pwnsdx commented on #15
Yeah, disabled it too, I was using it un dev mode because I wasn't aware that it would be problematic this way.

By the way, here is what I get when using "webpack" in production mode in the HTML files:

[code]

For the JS files, I get no traces of any hash, "integrity" or "sriHashes" in the code. Moving `new SriPlugin` before and after `new HtmlWebpackPlugin` changes nothing.

[2016-11-19 18:37] pwnsdx commented on #15
Okay, I think I identified where the bug come from, it occur when using [extract-text-webpack-plugin](https://github.com/webpack/extract-text-webpack-plugin) (`extractCSS = new ExtractTextPlugin('[name].[hash].css')`)

[2016-11-20 11:11] jscheid commented on #15
@pwnsdx can you see if it works better when using #16 ?

    npm install waysact/webpack-subresource-integrity#better-plugin-registration

It would also be interesting to know if ☝️ this works better together with webpack-dev-server, in which case we wouldn't have to add the warning to the README. Can you guys give that a try perhaps?

[2016-11-20 11:11] jscheid commented on #14
@Craga89 can you see if it works better when using #16 ?

    npm install waysact/webpack-subresource-integrity#better-plugin-registration

[2016-11-20 11:53] Lokaltog commented on #15
I've tested #16 and it appears to build fine with WDS with no errors. But I'm receiving a couple of new warnings in the console:

```2 client?cd17:90 webpack-subresource-integrity: chunks loaded by HMR are unprotected.```

[2016-11-20 11:59] Lokaltog commented on #15
I see now that these warnings are actually emitted by the fix in #16 so that makes sense. But it makes it annoying to use in development since they're emitted in the console, so I think I'd still add a note in the README clarifying the plugin behavior when used with WDS.

[2016-11-20 12:07] jscheid commented on #15
Do you think it would work if we limited it to a single warning per session?
--
Sent from a mobile device

[2016-11-20 12:38] pwnsdx commented on #15
Hello,

Still the same issue :/

After investigating: it looks like beforeHtmlGeneration -> hwpSrcRelativeOutputPath is trying to get "integrity" key for "../main.8908839fb89551fac84b.js" but the real file is "main.8908839fb89551fac84b.js"

The only part in my code where I have ../ is this part:

[code]

and this:

[code]

So I added in `beforeHtmlGeneration` function, this:

`src = path.parse(src

[2016-11-20 13:36] Craga89 commented on #14
I'll give that a shot tomorrow morning @jscheid  thanks!

[2016-11-20 13:40] jscheid commented on #15
@pwnsdx I don't think it's the same issue, this looks like a different issue from what you originally reported. Can you send the `output` section of your webpack config please? Or even better, your whole webpack config.

[2016-11-20 15:25] jscheid commented on #15
@pwnsdx Never mind, I can reproduce like this. I'll take a closer look later today.

[2016-11-20 16:12] jscheid commented on #15
@pwnsdx can you try with https://github.com/waysact/webpack-subresource-integrity/pull/17 ?

    npm install waysact/webpack-subresource-integrity#fix-hwp-asset-src

[2016-11-20 21:52] pwnsdx commented on #15
@jschied Glad that you were able to reproduce and sorry for the response time.

So I tried #17 and I can confirm it now works great. Thanks you for resolving this issue.

[2016-11-20 21:52] #15 closed

[2016-11-20 22:22] jscheid commented on #15
That's great news @pwnsdx! I'll do a few more tweaks and wait for some more feedback from other people, planning to roll a new release in the coming week.

[2016-11-20 22:26] pwnsdx commented on #15
Awesome! Can't wait to use the new release :)

Thanks again for this plugin,

Cheers!

[2016-11-21 14:15] jscheid opened #18 "New configuration options: enabled, crossorigin"
It should be possible to disable the plugin (e.g. in development mode) and configure the `crossorigin` attribute for html-webpack-plugin injection. To this end, the current configuration syntax is now deprecated and will be replaced by a standard key/value based option argument.

The old plugin initialization looks like this:

[code]

This is replaced by:

[code]

Note that a single hash function

[2016-11-21 16:33] jscheid commented on #15
@Lokaltog I'd like to keep the warning, to make sure nobody uses it with HMR in production without knowing about the limitations. (If HMR in production sounds crazy, the [docs actually suggest it as a use case](https://github.com/webpack/docs/wiki/hot-module-replacement-with-webpack#what-can-i-do-with-it).)

However I've made sure it's only ever printed once, and also I am going to [make it easy t

[2016-11-21 16:35] Craga89 commented on #14
@jscheid did you publish the branch? Doesn't seem to be present in the GitHub repo

[2016-11-21 16:37] jscheid commented on #14
@Craga89 whoops, it got deleted when I merged the PR. It's on master now, can you try with that?

[2016-11-21 16:57] Craga89 commented on #14
That fixed it, thanks @jscheid 👍

[2016-11-21 16:57] #14 closed

[2016-11-21 16:59] jscheid commented on #14
No problem, thanks for testing. I'm planning to roll a 0.7.0 release with this in the next couple of days.

[2016-11-21 23:55] #18 closed

[2016-11-22 00:12] jscheid commented on #15
The fix for this was released in v0.7.0.

[2016-11-22 00:12] jscheid commented on #14
The fix for this was released in v0.7.0.

[2016-11-22 00:13] jscheid commented on #18
This change was released in v0.7.0.

[2016-11-23 09:39] pwnsdx commented on #15
Awesome! Thanks you! :+1:

[2016-11-23 09:58] pwnsdx commented on #18
Good move! :+1:

[2016-11-30 11:09] jscheid opened #20 "Deprecate crossorigin option"
Webpack has an option `output.crossOriginLoading` used for loading chunks with code splitting. It's confusing that this plugin offers a similar option for use on asset tags generated by html-webpack-plugin. Starting with version 0.8.0, the webpack option is reused by default and the plugin option is deprecated.

To make code written for version 0.7.0 work without warnings in 0.8.0, ensure that the

[2016-12-06 23:36] #20 closed

[2016-12-08 14:02] gaearon opened #22 "Broken on Windows"
We integrated this plugin into Create React App (https://github.com/facebookincubator/create-react-app/issues/1202), and the build breaks on Windows:

![](https://cloud.githubusercontent.com/assets/5063473/21002858/32a2560c-bd28-11e6-91a4-bda786e7752e.png)

To reproduce:

[code]

This happens on Windows because the generated compilation assets key contains Windows path separators but Webpack expec

[2016-12-08 15:00] jscheid commented on #22
Released in v0.8.1. Sorry about that, we're not using Windows here and it didn't occur to anybody to test with it :-/

I'm planning to setup CI on Windows soon, perhaps with Appveyor.

[2016-12-08 15:02] gaearon commented on #22
Sounds great! We don’t test on Windows either but we should :-/

[2016-12-08 23:02] jantimon commented on #22
Wow cool now it is part of create react app? :)

[2016-12-08 23:32] gaearon commented on #22
Yea!

[2017-02-28 20:29] hikirsch opened #37 "infinite loop in findDepChunks"
Hi -

We have a fairly large project and when we include this plugin, we get a maximum callback error. I've traced it down do the findDepChunks. If I move the recursive call into the if check, it works. I think depending on how you have lazy loading modules you can get chunks that are dependent on other chunks therefore by moving the recursive call, it seems to fix and I'm able to see the desired

[2017-02-28 20:35] jscheid commented on #37
Hi Adam,

The existing tests still pass with this change, so it might be a good fix. However I'd prefer if we could add a failing test case first. Is there any chance you could boil it down to one?

[2017-02-28 21:07] hikirsch commented on #37
@jscheid - it seems to be some sort of circular dependency issue but I am not able to recreate the issue in the test suite. i will continue to try.

[2017-02-28 21:07] jscheid commented on #37
Never mind, I can reproduce. It works when A lazy-loads B and B lazy-loads A, but breaks when A->B, B->C, C->A. Going to release a fix soon, thanks for investigating!

[2017-02-28 21:28] jscheid commented on #37
@hikirsch will probably have to wait until S3 is back up.

[2017-02-28 21:29] hikirsch commented on #37
np - i've linked an updated version of this package with the change and i'm able to move forward for now. thanks for fixing so fast!

[2017-03-01 09:54] #37 closed

[2017-03-01 13:57] hikirsch commented on #37
i just ran an npm install on this package again, i think you guys may have forgotten to up the version in the package.json.

[2017-03-01 13:58] jscheid commented on #37
@hikirsch it's not published yet, just getting in a few more small improvements before releasing as 0.9.0. Should be ready in an hour or so. I'll comment here when it's out.

[2017-03-01 14:41] jscheid commented on #37
@hikirsch published now as 0.9.0. I'm guessing you don't need compatibility with Webpack release candidates or Node 0.12, so I didn't bother backporting to 0.8. Can you give it a try and let me know if it works for you?

[2017-03-01 20:44] hikirsch commented on #37
yes all good now thank you!!

[2017-05-15 12:08] chenEdgar commented on #22
I reproduced this question on window8.1.
I used webpack 1.13.2 and  html-webpack-plugin with injected true.
![qq 20170515200340](https://cloud.githubusercontent.com/assets/12596622/26056904/d195c5a2-39a9-11e7-8d81-5d8c8daf654e.png)

[2017-05-15 12:24] jscheid commented on #22
@chenEdgar it does look like the same issue, but that issue was fixed (and we are now running the test suite on Windows) so it's more likely something unrelated. Perhaps it would be better if you opened a new issue.

I'll need more information to see what's going on, did you see this? https://github.com/waysact/webpack-subresource-integrity/blob/master/CONTRIBUTING.md#issues

Does it work with the

[2017-05-16 17:16] kumar303 opened #45 "Make it easier to render script tags with SRI data"
When not using the `html-webpack-plugin`, one needs to write a fair amount of custom code to render a script tag with proper SRI attributes for each asset.

I'd like to propose a new `saveAs` option to make this easier. It would look like this:

[code]
It would write a JSON file that gives you all the data you need to construct `script` tags:
[code]
In any server view that writes an `index` page,

[2017-05-16 22:21] jscheid commented on #45
Hi, many thanks for your suggestion.

What you're after can be done without any changes to the plugin, here's [one possible
solution](https://github.com/jscheid/wsi-issue-45/blob/8dc86115bc788e3e2fb56a370159878ed1fbf4ea/webpack.config.babel.js#L19-L26).

I realise this ☝️ is five lines of configuration more than in your approach, and I like the idea of making it easier or less verbose in a future

[2017-05-17 10:44] jscheid commented on #45
I wonder whether it would help if the SRI hashes were added to the result of `stats.toJson()`. It's not currently possible (as far as I'm aware) but @sokra mentioned to me once that adding this ability was on the webpack 2.x roadmap. I don't think it has happened yet but it would probably not take too much to get this feature added. Would that be useful at all in your specific situation @kumar303

[2017-05-17 15:52] kumar303 commented on #45
Hi, thanks for all the feedback.

I think the bottom line is that universal webpack is quite annoying. The pattern we're using is to render the index page with Express and thus we have to get some SRI data somehow. Maybe there is a better way.

Thanks for the workaround. I guess it won't really be too different if `SriPlugin` dumped a JSON file or if I add a custom plugin with a couple of lines to

[2017-05-17 16:15] jscheid commented on #45
Heh, nicely put.

Exactly... and that way we side-step a number of (small) issues. Let me talk to @sokra again to find out more about adding custom data to the stats. I'll keep this open for now as a reminder. Thanks again!

[2017-05-23 14:42] ksmolyanin opened #46 "Always get "Chunks loaded by HMR are unprotected" warning"
Hello! It seems that I always get the following warning when I use webpack-dev-server even if HMR is not enabled:

Versions:
"webpack": "^2.5.0",
"webpack-dev-server": "^2.4.5"

[2017-05-23 22:07] jscheid commented on #46
Hi there,

What the warning message is trying to tell you is that this plugin is of little use in development mode and you should therefore disable it in that mode.

One way to do so is by passing this option: `enabled: process.env.NODE_ENV === 'production'`. See also the usage example in the README.

Doing this should make the warning go away.

Obviously, the warning message doesn't make this cle

[2017-05-24 15:05] ksmolyanin commented on #46
@jscheid, thank you for quick response! The problem is that I use webpack-dev-server with `process.env.NODE_ENV === 'production'` and HMR in such a case is disabled. It is not used for real prod actually. The reason for that strange thing is that my development and production builds are slightly different (for example, minification of  JS-code is enabled only for production). So I run dev server l

[2017-05-24 21:08] jscheid commented on #46
Could you elaborate on this point, how do you disable HMR or how do you know that it is disabled?

[2017-05-25 17:05] ksmolyanin commented on #46
Actually I don't enable it for the mentioned build.

If HMR is enabled webpack logs this into console on first load: "[WDS] Hot Module Replacement enabled". If it is not enabled it doesn't write something like this.

And if I need to enable it I use `--hot` key when call webpack 2 from command line (this works nice, I've checked).

[2017-05-26 08:02] jscheid commented on #46
Ok, I've had a closer look at this and I believe the problem is that the warning is confusingly worded.

Firstly, it should talk about "hot reloading" instead of "HMR", because even without hot _module_ reloading enabled, webpack-dev-server will still do hot reloading (watch the filesystem and reload the page when it changed.)

Secondly, instead of saying "resources will be unprotected" it should

[2017-05-26 15:00] ksmolyanin commented on #46
You are right. I think you should change that message to be more informative. Now I see that webpack hot reload doesn't work with subresource integrity and it is correct behavior. BTW in my case I don't change code when run prod build on dev server.

[2017-06-19 12:54] hitchcott opened #47 "Compatibility with optimize-css-assets-webpack-plugin"
Whenever I use this plugin in combination with `optimize-css-assets-webpack-plugin`, the resulting `link` tag generates the incorrect `integrity` attribute, and therefore prevents the CSS from loading in browser:

[code]

Disabling the `optimize-css-assets-webpack-plugin` plugin fixes the error.

[code]

Versions
[code]

I'll try putting together a reproduction tomorrow.

[2017-06-19 13:23] jscheid commented on #47
Hi,

The other plugin performs the optimization in the `emit` phase, and as such is incompatible with webpack-subresource-integrity. By that point the integrity hashes have already been computed, and so any changes to the asset contents will cause breakage.

I think the correct fix here is to ask the authors of optimize-css-assets-webpack-plugin to perform the optimization in the `optimize` phase

[2017-06-19 13:23] #47 closed

[2017-06-20 06:44] jscheid commented on #45
Consider heading over to https://webpack.js.org/vote/ and voting for "Plugins for Stats - Allow plugins to modify stats and stat output".

[2017-06-20 22:17] kumar303 commented on #45
Voted!

[2017-06-22 07:27] #46 closed

[2017-07-16 17:37] NMFR commented on #47
Would [`optimize-assets`](https://webpack.github.io/docs/plugins.html#optimize-assets-async) also work?

[2017-07-16 22:17] jscheid commented on #47
@NMFR thanks for taking a look at this. Yes I think that would work as well. I've made an integration test that you can use to verify your fix: https://github.com/jscheid/wsi-issue-47

[2017-07-23 20:47] NMFR commented on #47
Solved. @jscheid thanks for the help.

[2017-08-15 04:36] leesiongchan opened #51 "Integration with `DLLPlugin`"
Or compatible with library like https://github.com/asfktz/autodll-webpack-plugin

[2017-08-15 05:00] jscheid commented on #51
Hi, we're not using DLLPlugin but it sounds like a good feature for sure. Would you be interested in implementing it?

[2017-09-19 10:43] WallRushGO commented on #22
I had the same problem that was caused by the css file (value: src) missing from the compilation assets (compilation.assets).

What I did was that I changed line 326 to
`return src in compilation.assets ? compilation.assets[src].integrity : false;`

This caused a correct warning in the output:
`WARNING in webpack-subresource-integrity: Cannot determine hash for asset 'css/app.bb3c30f.css', the res

[2017-09-19 10:46] WallRushGO commented on #22
This however doesn't explain why in my case it is caused by the css file.

[2017-09-29 13:01] WallRushGO commented on #22
Found the reason why our css was crashing:

*Log*
index.js:325 - Assets for type: **css:  [ ....'css\\app.xxxx.css' ...]**
index.js:168 - hwpAssetPath::parameter src= **/css\app.xxxx.css**
index.js:331 - variable filePath = **/css\app.xxxx.css**
index.js:332 - variable src = **css/app.xxxx.css**

When the filePath (/css\app.xxxx.css) enters hwpAssetPath it comes out as css/app.xxxx.css
This howeve

[2017-09-29 13:08] jscheid commented on #22
Thanks for investigating with this, @WallRushGO! I think with this info I'll be able to reproduce it. I'll have a closer look at this over the next few days.

[2017-09-29 13:13] WallRushGO commented on #22
The root cause for us was to use the **path.join** in ExtractTextPlugin

[code]

**Our fix**
[code]

[2017-09-29 13:16] jscheid commented on #22
Ah, good to know, but I'd call this a workaround and not a fix. I'm aiming to release a fix for this soon and you'll be able to go back to using `path.join`.

[2017-09-29 13:20] WallRushGO commented on #22
👍

[2017-11-06 03:38] bzbetty commented on #22
I'm using ExtractTextPlugin("styles.css?[contenthash]");

so for me it appears to be searching for

styles.css?b201f92da5f06ce3a6eb8816602e1230&cd9dfb6f4017ef825e33

but the compilation.assets dictionary only contains an entry for

styles.css?b201f92da5f06ce3a6eb8816602e1230

unsure if this is totally related to this particular issue, but I am running this on windows and it also seems to be css +

[2017-12-04 11:09] shane-tomlinson opened #55 "Does not work with dynamic `import`"
The plugin works great with the `require.ensure` way of loading resources, but does not work with the new [dynamic `import`](https://webpack.js.org/guides/code-splitting/#dynamic-imports) loading method.

[2017-12-04 12:00] jscheid commented on #55
I've made a test based on the code from your link, and it works fine:

https://github.com/jscheid/wsi-issue-55

Perhaps you're having the same problem as #53?

I'd like to again draw your attention to our guidelines for creating new issues: https://github.com/waysact/webpack-subresource-integrity/blob/master/CONTRIBUTING.md#issues

[2017-12-04 17:41] jscheid commented on #55
I've just released a fix for #53 in v1.0.2, can you try again with that? In the meantime I'm going to close this, but feel free to reopen if the issue persists. I'll need some more information about your setup though.

[2017-12-04 17:41] #55 closed

[2017-12-06 01:14] #22 closed

[2017-12-06 13:47] jscheid commented on #22
@WallRushGO @bzbetty both should be fixed in v1.0.3, let me know how it works for you.

[2018-01-18 14:28] arthurjamain opened #57 "Interaction with webpack-manifest-plugin"
Hey there,

I'm using https://github.com/danethurber/webpack-manifest-plugin in my project and it appears to be incompatible with this SRI plugin. Much sadness was had.

To be more precise :

When both plugins are enabled, the SRI plugin fails to replace the placeholder string with the actual SRI map in the anonymous chunks' bootstrap code. I've dug a bit (but not entirely yet), and it boils down

[2018-01-18 14:44] jscheid commented on #57
Hi,

That is indeed a sad story :-)

I think here is a good place to start, what the other plugin does seems fairly harmless at first glance (add a new asset).

Thanks for digging, let me know what you can find out. If you get stuck I might find some time to take a look but probably not before next week. Good luck for now!

[2018-01-19 00:22] jscheid commented on #57
On second thought, adding a new asset in the `emit` phase seems wonky. I can see that they need to add late in the process, at a point where the other assets are locked down, but `emit` is pretty much the very latest point and might be too late for our plugin to work correctly.

At this point this is all just conjecture, but I have a hunch that maybe (hopefully) the issue could be fixed by having

[2018-01-19 00:24] jscheid commented on #57
See also #47

[2018-01-19 08:51] bzbetty commented on #22
yep works great now.

[2018-01-22 17:12] arthurjamain commented on #57
Hey,

Thanks for testing ! That's interesting, there might be more to it than appears at first glance. I still haven't switched back to this problematic, will keep you posted.

Cheers,

[2018-01-29 14:26] arthurjamain commented on #57
Hey there !

So turns out I was as efficient as a drunk chipmunk would have been when first diagnosing this. I've opened a PR which is more on point than this discussion. Sorry for the derangement. https://github.com/waysact/webpack-subresource-integrity/pull/58

[2018-01-29 14:26] #57 closed

[2018-02-26 16:29] jjeising opened #63 "Webpack 4"
The plugin is currently missing a peer dependency for Webpack 4. [Additional changes](https://medium.com/webpack/webpack-4-migration-guide-for-plugins-loaders-20a79b927202) may be necessary.

[2018-02-26 16:45] jscheid commented on #63
See #62. Feel free to take it for a spin and let me know if it works for you.

[2018-02-28 00:41] jscheid commented on #63
Released in v1.1.0-rc.1. Any feedback is welcome!

[2018-02-28 00:41] #63 closed

[2018-02-28 14:54] cecilemuller commented on #63
I [tried the new version](https://github.com/wildpeaks/issue-webpack4-sri) with the following dependencies:
 - **html-webpack-plugin**: `webpack-contrib/html-webpack-plugin`
 - **webpack**: `4.0.1`
 - **webpack-cli**: `2.0.9`
 - **webpack-subresource-integrity**: `1.1.0-rc.1`

But it gives this build error (on Windows 10, Node 9.6.1):

	Error: Cannot find module './util'
		at Function.Module._reso

[2018-02-28 15:14] jscheid commented on #63
Whoops! Fixed in 1.1.0-rc.2. Thanks for letting me know.

[2018-02-28 16:20] cecilemuller commented on #63
1.1.0-rc.2 works, awesome :tada:

[2018-03-06 21:34] Schlesiger opened #64 "`crossOriginLoading: false` defaults to `anonymous`"
It appears `crossOriginLoading: false` doesn't work. When I set the value to false, [a valid option](https://github.com/webpack/docs/wiki/configuration#outputcrossoriginloading), I still receive the warning `WARNING in webpack-subresource-integrity: Set webpack option output.crossOriginLoading when using this plugin.`. Perhaps `webpack-subresource-integrity` is checking for a falsy value, instead

[2018-03-06 21:43] jscheid commented on #64
It's a valid option to Webpack, but it's not an acceptable value to this plugin because SRI [requires crossOrigin to be set](https://w3c.github.io/webappsec-subresource-integrity/#cross-origin-data-leakage).

I'm thinking about changing the wording of the warning message to be more explicit, perhaps "Set webpack option output.crossOriginLoading to a value other than `false` when using this plugin"

[2018-03-06 22:07] Schlesiger commented on #64
Oh my apologies; I didn't think it would matter if I was using `cors` already. Changing the wording would help. Also, while the  W3C `Subresource Integrity` link _is_ at the top of the `README`, perhaps following the `crossOriginLoading` description an additional link to the `#cross-origin-data-leakage` tag could help inform folks like me. :-) Thanks!

[2018-03-06 22:26] jscheid commented on #64
All good, no harm done 😄 How about this?

[code]

[2018-03-12 21:15] #64 closed

[2018-03-13 09:20] ngyikp opened #66 "Puppeteer should be a dev dependency, not an optional dependency"
Installing `webpack-subresource-integrity@1.1.0-rc.2` as a dependency would install Puppeteer unnecessarily and bloat node_modules size, Puppeteer should be included as a dev dependency instead.

[2018-03-13 09:46] jscheid commented on #66
Thanks for the bug report. You're right, I'll change it and aim to release in 1.1.0-rc.3 sometime soon.

(Ideally it would be in "optional dev dependencies" but there is no such thing. https://github.com/npm/npm/issues/3870#issuecomment-219177596)

[2018-03-13 21:01] #66 closed

[2018-03-15 00:24] odensc opened #68 "Hash is computed incorrectly when using mini-css-extract-plugin with CSS Modules"
When using [mini-css-extract-plugin](https://github.com/webpack-contrib/mini-css-extract-plugin) with CSS Modules, the hash computed by the SRI plugin is incorrect causing an error. I'm assuming the hash is somehow calculated before `mini-css-extract-plugin` adds it's code.

[2018-03-15 00:50] jscheid commented on #68
Thanks for the bug report. Could you provide a test project that shows the problem?

[2018-03-15 01:19] shakiba opened #70 "Question: How to integrate it in webpack.config.js file?"
I may have missed a document somewhere, but how should I integrate this plugin in webpack.config.js file? I export one or an array of webpack configs, but I don't directly call `webpack()`.

[2018-03-15 01:51] jscheid commented on #70
We have several [examples](https://github.com/waysact/webpack-subresource-integrity/tree/master/examples), a good starting point is probably [this one](https://github.com/waysact/webpack-subresource-integrity/blob/master/examples/basic/webpack.config.js).

[2018-03-15 01:58] shakiba commented on #70
Thanks! I don't use Html plugin, I use webpack-assets-manifest. Is there any way to get integrity string values to add to manifest file?

[2018-03-15 02:07] odensc commented on #68
Sorry, I have bad manners. :) Here's a test case: https://github.com/odensc/sri-mini-repro

Instructions are in the readme.

[2018-03-15 02:15] jscheid commented on #70
I don't know, I think that's more a question for the people looking after that plugin. I don't see an easy way but I haven't looked much.

Here is some code that you might find useful perhaps: https://github.com/jscheid/wsi-issue-45/blob/8dc86115bc788e3e2fb56a370159878ed1fbf4ea/webpack.config.babel.js#L19-L26

[2018-03-15 02:15] #70 closed

[2018-03-15 19:10] shakiba commented on #70
Thanks, I wrote this to get it done:
[code]

It would be great if we can add a similar basic option to this plugin!

[2018-03-15 23:09] #68 closed

[2018-03-16 00:13] jscheid commented on #68
@odensc thanks again for the bug report and the repro, without it I couldn't have tracked it down. Fix for this is released in 1.1.0-rc.4.

[2018-03-16 00:58] odensc commented on #68
@jscheid Thanks for the quick fix.

One more thing, it looks like the `integrity` attribute is not being added to the injected `link` element, as it would with `extract-text-webpack-plugin`. Would this be something on `mini-css-extract-plugin`'s side or this side?

[2018-03-16 16:23] jscheid commented on #68
Ah, I see... I didn't realize `mini-css-extract-plugin` was doing DOM injection.

That's tricky, it will require coordination between the two plugins. I'm thinking about drafting a generic hook-based interface and running it by @sokra (the author of MCEP) to see what he thinks. I'm afraid it will take a little while and there's no easy workaround for now.

[2018-03-16 19:06] jscheid commented on #70
I suggest you ask the maintainers of the other plugin to include the original `asset` [here](https://github.com/danethurber/webpack-manifest-plugin/blob/052970ef91b9b319e0ba06772f2debf998e5a241/lib/plugin.js#L87) and [here](https://github.com/danethurber/webpack-manifest-plugin/blob/052970ef91b9b319e0ba06772f2debf998e5a241/lib/plugin.js#L102).

Then you could just do something like:

[code]

[2018-04-03 17:43] jscheid commented on #45
Coincidentally (with #74) this just got approved a few hours ago: https://github.com/webpack/webpack/pull/6702 🎉

[2018-04-19 09:55] BartJanvanAssen opened #75 "webpack 4.5 error - Cannot read property 'publicPath' of undefined"
Hi all,

In my custom webpack configuration i encounter some issues, regarding updating from webpack 3.x to 4.5 OR 4.4. Does anyone recognise the error or has any idea to get this fixed?

![image](https://user-images.githubusercontent.com/4742816/38984771-e1d8f884-43c7-11e8-855d-5a38ae04c0ec.png)

when i look at the code of this plugin i found the code is hitting over here:
![image](https://user-i

[2018-04-19 12:45] jscheid commented on #75
Hi, please provide your `yarn.lock` or `package-lock.json` in a gist, or at least the versions of all relevant packages (webpack, html-webpack-plugin, this plugin).

[2018-04-19 12:48] BartJanvanAssen commented on #75
Ah ofcource, here you go @jscheid

`
{
"add-asset-html-webpack-plugin": "2.1.3",
 "html-webpack-plugin": "^3.2.0",
 "mini-css-extract-plugin": "^0.4.0",
 "webpack": "4.4.0",
 "webpack-cli": "2.0.14",
 "webpack-dev-server": "3.1.3",
 "webpack-subresource-integrity": "^1.1.0-rc.4"
`

[2018-04-19 12:55] jscheid commented on #75
That's your `package.json`, I meant your lock file. From this I can only guess at what versions exactly you have installed.

Can you share your webpack config as well? Ideally you could make a repository that shows the problem.

[2018-04-19 13:02] BartJanvanAssen commented on #75
i'll have a look if i can setup a basic project to simulate the issue, this takes a bit more time. Note i use for most packages the newest version. exception there for webpack. i'll let you know when i have it ready

[2018-04-19 13:04] jscheid commented on #75
Ok thank you, much appreciated.

[2018-04-27 20:45] zlk89 commented on #75
Getting same error with webpack 4.6.0

[2018-05-15 08:18] BartJanvanAssen commented on #75
I found that this plugin in combination with the AddAssetHtmlPlugin the argument to the beforeHtmlGeneration (pluginArgs) is an unfinished Promise. I need both, and have created an repo for this i'll post over here in a minute.

[2018-05-15 08:53] BartJanvanAssen commented on #75
Repo is over here: with included steps to reproduce in the readme
https://github.com/BartJanvanAssen/Issue-Webpack-SRIPlugin-and-AddAsset

[2018-05-22 07:12] BartJanvanAssen opened #76 "webpack 4.6 + error - Conflict with AddAsset plugin"
Can we get some attention to #75 ?

[2018-05-23 12:37] jscheid commented on #76
Sorry, been a busy couple of weeks. I'll try and take a close look over the next couple of days.

[2018-05-23 12:37] #76 closed

[2018-05-23 13:20] jscheid commented on #75
As far as I can tell, this is caused by the other plugin registering a plugin that returns a Promise. I'll elaborate on the ticket over there.

[2018-05-23 13:20] #75 closed

[2018-06-06 09:56] romeovs opened #78 "Does not play well with the contenthash path variable"
`webpack-subresource-integrity` does not play well with the `[contenthash]` path variable.

For instance with the following `webpack.config.js`:

[code]

I get the following output:

[code]

My limited understanding of the issue is that `webpack-subresource-integrity` tries to interpolate the filenames in `getChunkFilename` and that fails because the `[contenthash]` is not calculated yet at the po

[2018-06-07 13:27] jscheid commented on #78
Thanks for your bug report and for taking the time to create a demo repository, much appreciated.

This appears to be related to https://github.com/waysact/webpack-subresource-integrity/pull/60

I'll try and take a look at this, but not sure yet how soon I can get to it.

[2018-06-22 15:33] gmac opened #79 "Undocumented critical plugin order with Uglifier"
This plugin appears to share one or more event hooks with the Uglifier plugin, and thus their plugin order is significant. The chunks SRI manifest (installed by `WebIntegrityJsonpMainTemplatePlugin`) is a noop when this plugin is ordered after Uglifier.

While the problem is solved easily enough, it would be helpful if this critical ordering concern was documented.

[2018-06-23 09:32] jscheid commented on #79
Hi, thanks for your bug report.

Early versions of this plugin had made an extra effort to ensure it is ordered last after any other plugins using the same hooks, but admittedly I've lost track of this goal as I've never encountered such issues myself or, until now, had any reports.

Mentioning this requirement in the documentation would be one solution but I'd prefer to come up with something tha

[2018-09-07 08:02] jantimon opened #80 "Upgrading to the html-webpack-plugin version 4"
The html-webpack-plugin version 4 is getting closer to a release.
Many information can be found in this pr: https://github.com/jantimon/html-webpack-plugin/pull/953

A static version property was added:
https://github.com/jantimon/html-webpack-plugin/blob/d65b37d2c588047e0d81a38f4645fcdb3ead0b9e/index.js#L915-L927

The event system was changed alot to work with the new features:
<img src="https://

[2018-09-08 12:55] jscheid commented on #79
@gmac which Webpack version did you have this issue with?

[2018-09-08 16:27] jscheid commented on #80
Hi @jantimon,

Thanks for the heads up. I've got this mostly working, but there is one issue:

In HWP 3.x I was using `beforeHtmlGeneration` to walk through all assets and add the special `Integrity` assets: https://github.com/waysact/webpack-subresource-integrity/blob/d7ef757b8da69be97e14dc997eb156af52841a51/index.js#L269-L280

If I hook that function into `beforeAssetTagGeneration` unchanged eve

[2018-09-08 19:28] jscheid commented on #80
@jantimon thanks for the heads up -- I had a different comment here before but I was chasing a red herring. All good. I'll release a version compatible with 4.0.0-alpha.2 soon.

[2018-09-09 22:10] #78 closed

[2018-09-09 22:10] #80 closed

[2018-09-10 08:38] jscheid commented on #78
Thanks for your patience, this should be fixed in 1.1.0-rc.5. When you get a chance, could you let me know how it works for you?

[2018-09-10 08:41] jscheid commented on #80
Preliminary compatibility released in 1.1.0-rc.5.

I'm planning to release 1.1.0 proper soon, perhaps timed to coincide with the HWP 4.0.0 release if that's not too far out?

[2018-09-11 02:15] abraham opened #83 "Cannot determine asset for chunk 1"
[code]

This is with a slight modification of my [personal site](https://github.com/abraham/abrah.am). `filename: '[name]-[chunkhash].js'` to `filename: '[name]-[contenthash].js'`

[2018-09-11 17:05] jscheid commented on #83
Thanks for reporting this, fix is underway. I'll get to a release tomorrow probably.

[2018-09-12 08:42] #83 closed

[2018-09-15 14:41] abraham commented on #83
Fix looks good :+1:

[2018-10-02 05:30] inductor opened #87 "Don't crash when used in non-web builds"
On Nuxt.js 2.0.0

[code]

This setting triggers this error

[code]

[2018-10-02 07:39] jscheid commented on #87
You can fix this by adding the plugin only for the client build, not for the server build:

[code]

We should handle this case more gracefully though, I'll change the issue title to reflect this.

[2018-10-02 08:45] jscheid commented on #87
It seems they bypass html-webpack-plugin altogether and use their own template rendering:
https://github.com/vuejs/vue/blob/52719ccab8fccffbdf497b96d3731dc86f04c1ce/src/server/template-renderer/index.js#L209

If so there's not much this plugin can do. I suppose you could ask them to make `script` (and `link`) rendering more configurable, then somebody could write a plugin for Vue that adds the `in

[2018-10-03 13:08] #87 closed

[2018-10-03 20:30] arcanis opened #90 "html-webpack-plugin should be a peer dependency, or not directly require()'d"
As it happens; `webpack-subresource-integrity` makes a `require('html-webpack-plugin')` call, but doesn't list it anywhere in its dependencies (not even as a peer dependency).

While it works on most installs at the moment, it's only by accident, and package managers offer no guarantee that this will hold true much longer; in fact, it breaks now with Plug'n'Play and likely with pnpm as well.

Addi

[2018-10-03 20:40] jscheid commented on #90
Thanks for your bug report. Could you provide a test case or sample repository demonstrating the issue?

[2018-10-03 20:53] jscheid commented on #90
From the linked ticket I can get a vague idea of what the problem is.

However, we can't declare html-webpack-plugin a peer dependency because this plugin doesn't depend on it - it works fine without it.

In the other ticket you describe what we're doing a "hack". That's fair enough, do you have a suggestion as to what else we should be doing?

[2018-10-03 20:58] arcanis commented on #90
Peer dependencies are not mandatory. If you list it in your `peerDependencies` and your users don't add to their apps you'll still get a working application in the end - it's just that your package won't be able to require it.

Yarn (and maybe npm, I'm not sure what they do in these circumstances) is a bit overly cautious by adding warnings when this happens, but these warning were there more as a

[2018-10-03 20:58] arcanis commented on #90
If you want to repro it, you can check out https://github.com/arcanis/wsi-example

Make sure you have Yarn 1.12, then run `yarn --pnp && yarn node index.js` in the repository.

[2018-10-03 21:04] jscheid commented on #90
Thanks for the repro.

Have another look, we do have `webpack` in our peer dependencies.

Before we go further, do I understand correctly that everything is working fine for everyone, except for users of a new yarn feature marked as experimental?

And do I understand correctly that this experimental yarn feature doesn't have a good story for handling optional dependencies?

[2018-10-03 21:11] arcanis commented on #90
Sorry, got confused by an error message I need to improve. Still valid for `html-webpack-plugin` 🙂

It can break for everyone even now. Any change in the hoisting (which both Yarn and npm are free to do) could break your plugin, because the package managers are simply not aware of the links between it and `html-webpack-plugin`.

So yep, it (maybe? pnpm likely doesn't support it either) works, but

[2018-10-03 21:50] jscheid commented on #90
Ok, thanks for elaborating. I see your point about hoisting and undefined behaviour and I'll add the peer dependency.

Since you seem to be involved in yarn development, let me point out that this also feels like a hack... a dependency that causes a warning when missing is not truly an optional dependency.

You've said that yarn is "overly cautious" but isn't there more to it? In this example, web

[2018-10-03 22:01] arcanis commented on #90
I'll think more about it, but the main issue is to find an API that would work regardless of the package manager (from my experience, reaching a consensus is a bit hard).

Thinking about it, maybe a pseudo-protocol would be backward-compatible and provide this kind of annotation? Something like this:

[code]

Since the `peerDependencies` ranges are purely a hint, it just would be ignored by packag

[2018-10-03 22:04] jscheid commented on #90
That might work. Another solution could be an additional key, `optionalPeerDependencies" that lists names of peers that are optional; that would also be backward compatible.

Am I correct in assuming that PnP would just always pull in HWP because we emit a `require` call to load it -- and that way, ultimately make it a non-optional dependency anyway?

[2018-10-03 22:13] arcanis commented on #90
No, PnP doesn't make static analysis on the code itself, only on the dependencies reported in the `package.json` files. Our goal isn't to automatically install things you require, but rather to leverage the Yarn cache to fulfill all projects on the machine at once (instead of copying them around).

So the error thrown is at runtime - we inject a hook in the environment that replaces part of the No

[2018-10-04 11:05] edmorley commented on #90
I've filed yarnpkg/yarn#6487 to continue exploring this, since I can think of several projects where the same issue will come up.

[2018-10-04 13:12] #90 closed

[2018-10-05 11:00] #45 closed

[2018-10-08 14:40] warmans opened #93 "Webpack Core Dependency"
Hi,

I'm currently auditing our dependencies for projects missing a LICENCE file. This project has one but
 depends on `webpack-core` which is missing a licence (it names the licence but this is not sufficient). The problem is the project has been archived and is no longer maintained so I can't even submit a MR to add the file.

Is this dependency still needed? or is there any plan to remove it? I

[2018-10-11 11:27] #93 closed

[2018-10-30 16:02] huan086 opened #96 "Typescript typings"
I am trying to create Typescript definition for this plugin in order to use Typescript for my webpack.config.

Would you be ok with distributing the package with Typescript definition? If not, I'll push the typings to DefinitelyTyped instead.

[2018-10-31 13:11] jscheid commented on #96
I've actually started working on a port to Typescript, but it's not quite ready yet and I don't see anything speaking against adding the definitions here in the meantime. Could you create a PR? Thanks!

[2018-10-31 14:47] huan086 commented on #96
I do have another script where I use Typescript to compute hash. Hope you find it useful

[code]

package.json
[code]

tsconfig.json
[code]

[2018-11-02 08:55] huan086 commented on #96
No idea how to test the Typescript definitions if I were to pull request here. Got the definitions into DefinitelyTyped instead.

Once you port over to Typescript and generate the type definitions, I shall delete the definitions from DefinitelyTyped. Thanks for this great plugin!

[2018-11-02 08:55] #96 closed

[2018-11-05 17:53] jscheid commented on #96
@huan086 I'm glad you find it useful. Thanks for https://github.com/DefinitelyTyped/DefinitelyTyped/pull/30157!

[2018-11-05 22:45] #51 closed

[2018-11-06 14:39] jscheid commented on #51
This can now be done using [add-asset-html-webpack-plugin](https://github.com/SimenB/add-asset-html-webpack-plugin#add-a-dll-file-from-webpackdllplugin).

[Example here](https://github.com/waysact/webpack-subresource-integrity/tree/master/examples/dll-plugin).

[2018-12-10 13:34] r0bs opened #97 "webpack-subresource-integrity overwrites integrity values on explicitly set externals"
I'm using webpack-subresource-integrity to set integrity hashs on local resources. This works fine. At the same time  I'm defining externals (including integrity hash) manually with html-webpack-externals-plugin like this:

[code]

However, the integrity attribute get's overwritten by webpack-subresource-integrity with null, resulitng in this:

`<script type="text/javascript" src="https://code.jqu

[2018-12-10 13:58] jscheid commented on #97
Hi, thanks for your bug report.

I've added a simple test case (see above) and it seems to work OK. Would you mind putting together one that fails?

See https://github.com/waysact/webpack-subresource-integrity/blob/master/CONTRIBUTING.md

Let me know if you have any trouble writing the test case.

You can also point me to a sample repository that demonstrates the issue.

[2018-12-10 16:19] r0bs commented on #97
Created a sample for demo here: https://github.com/r0bs/sri-null

[2018-12-10 17:39] jscheid commented on #97
@r0bs no problem, thanks for the test repo. The test case had a bug which I didn't notice because the issue only manifests with certain dependency versions. I can reproduce now, aiming to roll a release with the fix tomorrow.

[2018-12-11 14:08] jscheid commented on #97
Fix released in 1.3.1.

[2018-12-11 17:20] r0bs commented on #97
Hey @jscheid ! Thanks for the fix, solves the issue for me.

Now explicitly set integrity attributes on external assets don't get overwritten. However, if one decides to purposefully omit the integrity attribute on an external asset, `integrity="null"` will still be added to the script tag, rendering the script useless. Is there a rationale behind this?

[2018-12-11 20:38] jscheid commented on #97
Yeah I realized this too. This can be improved still.

(Adding an external asset without integrity while using this plugin is pointless: this plugin has no way of knowing which integrity value to use, and wanting to add one _without_ integrity is Achilles' heel. But, we should output a warning instead of letting the page crash.)

[2018-12-13 08:53] r0bs commented on #97
Hey @jscheid! Could you check https://github.com/waysact/webpack-subresource-integrity/compare/master...r0bs:feature/%2397?expand=1 ?

It isn't working, since a preexisting test (the one you added with the latest release) now fails, missing to get the explicitly set attributes. What am I getting wrong here?

[2018-12-13 15:16] jscheid commented on #97
Hi @r0bs , thanks for taking a shot at it.

I'm completely swamped this week and won't get a chance to focus on it, sorry.

But one thing I've noticed after a quick glance is that this shouldn't work only for http and https URLs. For one thing there are other URL schemes that, afaik, are also supported by browsers and by SRI, for example ftp. Also it's conceivable that a HWP plugin copies assets s

[2018-12-19 22:32] jscheid commented on #97
@r0bs ok, now I've found a few minutes.

This is somewhat complicated, I can see why you are confused.

Bear with me, I'll try to explain my findings as clearly as possible -- let me know if anything doesn't make sense.

`html-webpack-externals-plugin` builds on top of `html-webpack-include-assets-plugin` which adds the asset tags which we're dealing with here. Let's call it HWIA, and this plugin

[2019-01-15 13:40] WilsonLiu95 opened #100 "multi page add all srihash?can include hash split?"
I use webpack to build multi web.I want to inline the runtime js file.So I split runtime multi.but the sri include all. can config it?

[2019-01-15 20:48] jscheid commented on #100
Sorry, I don't understand what the problem is. Could you make an example repository?

[2019-01-21 05:53] jscheid commented on #100
I'm going to close this because I don't know what to do here, but feel free to reopen with a link to a repository that demonstrates the problem and I'm happy to take another look.

[2019-01-21 05:53] #100 closed

[2019-01-29 15:30] sebastiendavid opened #101 "Integrity check error with webpack runtime file"
Hello,

We started to use `webpack-subresource-integrity` plugin in my company, and I noticed some integrity errors because of our webpack runtime file and the browser cache. In some cases, it is possible to generate a runtime file with a name which does not change but where the content changed (`[name].[contenthash].js`). So if the runtime file (with this same name) is in the user browser cache (

[2019-01-29 19:41] jscheid commented on #101
Hi, thanks for your detailed bug report. I can reproduce this and will see that I can fix it soon.

[2019-01-30 08:40] sebastiendavid commented on #101
@jscheid I tried your fix: including only lazy loaded chunks in the runtime file seems to fix this issue 👍
Thank you for your time and reactivity 😉

[2019-01-30 13:11] #101 closed

[2019-01-30 20:19] jscheid commented on #101
No problem. Released in version 1.3.2.

[2019-02-04 14:56] atifsaddique211f opened #104 "WARNING in webpack-subresource-integrity: Cannot determine asset for chunk scripts, computed="undefined", available=scripts.2b355891e0dd05f2cdd5.js."
[code]

[2019-02-05 01:21] jscheid commented on #104
Thanks, could you share your Webpack config as well, perhaps in a Gist?

[2019-02-05 06:32] jscheid commented on #104
What does this output?

```yarn list | grep webpack-subresource-integrity```

or if you're using `npm`

```npm list | grep webpack-subresource-integrity```

[2019-02-05 06:34] atifsaddique211f commented on #104
`│ └─┬ webpack-subresource-integrity@1.1.0-rc.6
npm ERR! peer dep missing: @angular/animations@^6.0.0, required by ngx-chips@1.9.8
npm ERR! peer dep missing: @angular/common@^6.0.0, required by ngx-chips@1.9.8
npm ERR! peer dep missing: @angular/core@^6.0.0, required by ngx-chips@1.9.8
npm ERR! peer dep missing: @angular/forms@^6.0.0, required by ngx-chips@1.9.8
npm ERR! peer dep missing: jquery@1

[2019-02-05 06:35] jscheid commented on #104
Ok, you need to upgrade it. Try `npm upgrade webpack-subresource-integrity` and make sure it gives you the latest version (`1.3.2`).

[2019-02-05 06:40] atifsaddique211f commented on #104
It don't upgrade like that, I think its a part of some sub dependency, and it is not getting upgrade like that from project root.

[2019-02-05 07:09] jscheid commented on #104
Right, it's because angular depends on an older version of this plugin, which I believe they do because they disagree with #90.

You could work around it by switching to yarn and [specifying an override](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/). The following might work but I haven't tested it:

[code]

I'm going to close this because the only thing I could do to help is re

[2019-02-05 07:09] #104 closed

[2019-02-05 10:23] atifsaddique211f commented on #104
@jscheid simple resolution with yarn didn't work.

`atifsaddique:CTEMPLAR_FRONTEND atifsaddique$ yarn list | grep webpack-subresource-integrity
│  ├─ webpack-subresource-integrity@1.1.0-rc.6
├─ webpack-subresource-integrity@1.3.2
`

[2019-02-06 09:11] jscheid commented on #104
Thanks. The grep result you've posted doesn't conclusively show that it didn't work, I assume you've tried re-running the build and it ran into the same error again?

[2019-02-06 09:12] atifsaddique211f commented on #104
Yes

On Wed, 6 Feb 2019 at 2:11 PM, Julian Scheid <notifications@github.com>
wrote:

--
Best Regards

Atif Saddique

[2019-02-23 23:32] jscheid commented on #104
@atifsaddique211f the upgrade works fine in my test, see https://gist.github.com/jscheid/29dee9816e89a27c71b54fd40719a70f

If it still doesn't work for you I'm happy to take another look. I'll need the following from you:
- A current copy of your `yarn.lock`
- Updated output of `ng build`
- Ideally, a repository that demonstrates the issue

[2019-03-13 21:18] blephy opened #105 "Integrity fail with Critters"
Hi,

I'm using [Critters](https://github.com/GoogleChromeLabs/critters) to deal with critical css.
Critters is running after the webpack build. Can we deal with this and recalculate the integrity value on .css links processed with Critters ?

I'm getting a browser integrity value failed.

[2019-03-22 02:58] jscheid commented on #105
I've added a test case and it works fine.

You need to provide some more context, [see here](https://github.com/waysact/webpack-subresource-integrity/blob/master/CONTRIBUTING.md).

[2019-03-22 16:05] dkrutsko opened #106 "Cannot determine asset for chunk"
Please forgive me if this was already reported, however, I believe my situation to be different.

This happens because I am extracting CSS styles from `style.js` using [`mini-css-extract-plugin`](https://github.com/webpack-contrib/mini-css-extract-plugin) and removing the now empty `style.js` file using [`webpack-fix-style-only-entries`](https://github.com/fqborges/webpack-fix-style-only-entries).

[2019-03-25 09:21] jscheid commented on #106
Thanks for your bug report. Could you please turn this into a full test case by making a self-contained repository? I've tried making a test case based on the above but it doesn't trigger the warning.

I have a hunch the problem is that webpack-fix-style-only-entries doesn't "fully" remove the JS file from the build. I can see in its source that it deletes the asset, but I think that's not enough.

[2019-03-27 03:39] vishalhulawale commented on #104
I am also getting same warning on `ng build --prod`
I am having **1.1.0-rc.6 ** version of **webpack-subresource-integrity**.
I tried **npm upgrade webpack-subresource-integrity** it did not solved this issue.

[2019-03-27 06:01] jscheid commented on #104
@vishalhulawale `npm upgrade` won't work. You need to be using `yarn` and specify `resolutions` in `package.json` as detailed [above](https://github.com/waysact/webpack-subresource-integrity/issues/104#issuecomment-460535274). See the [gist](https://gist.github.com/jscheid/29dee9816e89a27c71b54fd40719a70f) for a working example.

[2019-04-02 08:22] jscheid commented on #105
I'm going to close this because without being able to reproduce it there's not much I can do. Please feel free to reopen with some more context, ideally a small repository that demonstrates the issue.

[2019-04-02 08:22] #105 closed

[2019-04-02 08:22] jscheid commented on #106
I'm going to close this because without being able to reproduce it there's not much I can do. Please feel free to reopen with some more context, ideally a small repository that demonstrates the issue.

[2019-04-26 03:07] juchiast opened #107 "Plugin doesn't work with webpack watch"
When using this plugin with `webpack watch`, the first build succeed but after that, it produces `integrity="null"`.

Btw, I see you mentioning problems with hot reloading in README, does this apply to `webpack watch` too?

[2019-04-26 03:25] jscheid commented on #107
Hi, thanks for the bug report.

Could you provide a test case? A small sample repository would be enough.

No, hot reloading refers to [HMR](https://webpack.js.org/concepts/hot-module-replacement/) and that's related to watch mode but not the same. Watch mode should work, we have a [test case](https://github.com/waysact/webpack-subresource-integrity/blob/daeddb44f0b5019809adab1dee4b1b53ed82d179/te

[2019-04-30 00:07] jscheid commented on #107
I'm afraid there's nothing I can do here without knowing how to reproduce the issue so I'm going to close this. Feel free to reopen when you can provide some more information.

[2019-04-30 00:07] #107 closed

[2019-05-07 10:50] vasyliv opened #108 "WARNING in webpack-subresource-integrity: Cannot determine asset for chunk scripts, computed="undefined""
Here is the warning:
[code]

here is code
[code]

[2019-05-12 10:37] jscheid commented on #108
Thanks! Closing this as a duplicate of #104.

[2019-05-12 10:37] #108 closed

[2019-06-17 18:04] josephliccini opened #111 "Issue with <link rel="preload">"
Hi!

Thanks for this plugin!

It looks like Chrome (probably other browsers too) have issues with the combination of SRI and `<link rel="preload">`

You might want to put in the notes that this, combined with `/* webpackPreload: "true" */` of lazy chunks will break the preloading mechanism until `<link rel="preload">` also supports SRI:

https://github.com/w3c/preload/issues/127

For us, that mean

[2019-06-17 18:11] josephliccini commented on #111
I did some testing, and it looks like Firefox and Edge are fine, just Chrome so far.

[2019-06-19 02:33] jscheid commented on #111
Hi, thanks for bringing this to my attention. I've got a lot going on this week but hoping to take a closer look next week.

In addition to the README change you suggested, perhaps we should detect when `/* webpackPreload: "true" */` is used and warn if so?

Do I understand correctly that adding SRI to `<link rel="preload">` would not be helpful at this point?

Also, does "breaking the preloading

[2019-06-23 18:25] adarshaj commented on #104
For those that are facing this due to angular, the issue is being sorted out at https://github.com/angular/angular-cli/issues/9338 (essentially the above solution by @jscheid is not updating the dependencies recursively, so the cli package should fix the version in their dependency).

[2019-07-08 18:16] jahed commented on #68
Matching thread for anyone wondering: https://github.com/webpack-contrib/mini-css-extract-plugin/issues/40

[2019-07-15 14:39] gavinr opened #112 "Use with create-react-app?"
I know there [was](https://github.com/facebook/create-react-app/pull/1176) [reverted] and [still is](https://github.com/facebook/create-react-app/issues/7006) an effort to get this officially working with [create-react-app](https://github.com/facebook/create-react-app), but in the mean-time, what is the best workaround to get this working on the built version of the app that create-react-app gener

[2019-07-15 15:23] gavinr commented on #112
One workaround is to use [eject](https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-eject):

### 1. Run:
[code]

### 2. Modify `webpack.config.js`:
https://github.com/facebook/create-react-app/pull/1176/files

### 3. Run `npm run build`
Your `build/index.html` file should now have `integrity="..."` tags.

[2019-07-16 17:17] jscheid commented on #112
Yes, I'm not aware of another way to use this plugin together with CRA. For the time being you'll have to eject.

[2019-07-16 17:17] #112 closed

[2019-08-29 10:10] jscheid commented on #111
As far as I understand, we can fix this by adding SRI to the `<link preload>` element. I'm afraid a fix for this won't make it into the upcoming release but I'll try and take another look at this soon.

[2019-08-30 09:30] jscheid commented on #111
I've investigated this a bit more and found the following (all tested with the current release of the plugin, 1.3.2 -- the upcoming 1.3.3 doesn't make any changes to preload handling so should be identical):

## Safari 12.1.2 (14607.3.9)

No warnings, loads resource once, preloads correctly, regardless of whether integrity is specified on the `link` tag.

## Firefox 68.0.2

No warnings, preloads c

[2019-09-02 18:13] davidGrocerKey opened #116 "working in mode:development but not 'production'"
I have webpack bundling 3 files and using your plugin with the webpack-manifest plugin to pass these files an integrity Hash.
My issue is that when this is run on mode:production, 1 (sometimes 2) of the files get this error:
`Failed to find a valid digest in the 'integrity' attribute for resource... `
is there something specific I have to do for production mode which may be minifying or changing t

[2019-09-02 20:42] jscheid commented on #116
There's nothing special you need to do. In fact we recommend to run this plugin _only_ in production mode, since in development mode it can get in the way of hot reloading and also is not usually needed.

Happy to help you debug this but I'll need some more info, ideally a small test case. Can you boil it down to a standalone repository that throws the error when it's built?

[2019-09-11 21:01] jscheid commented on #116
I'm closing this, feel free to reopen when you have more information to share.

[2019-09-11 21:01] #116 closed

[2019-09-27 04:42] jasonrm commented on #106
I made a small repo that will reproduce this warning.
https://github.com/jasonrm/wsi-106

[2019-09-27 08:48] jscheid commented on #106
@jasonrm fantastic, thanks!

[2019-10-01 06:40] #106 closed

[2019-10-01 09:28] jscheid commented on #106
A fix for this has been released in version 1.3.4. Thanks again for the bug report and the test case.

[2019-10-05 09:31] jeromeDevIN opened #120 "ng build --prod ERROR in Cannot assign to a reference or variable!"
Hello,

Here is the error message I get after a ng build --prod on Angular app. Could you help me to resolve this problem please ?

ERROR in Cannot assign to a reference or variable!
Child mini-css-extract-plugin node_modules/@angular-devkit/build-angular/src/angular-cli-files/plugins/raw-css-loader.js!node_modules/postcss-loader/src/index.js??extracted!node_modules/@angular/material/prebuilt-them

[2019-10-05 19:21] jscheid commented on #120
The error is `Cannot assign to a reference or variable!`. I can see why you think that this plugin is causing it, but the output is misleading. The error just happens to be printed next to a warning emitted by this plugin. A quick search brings up [this SO question and solution](https://stackoverflow.com/questions/42437822/angular-2-form-validation-error-unhandled-promise-rejection-cannot-assign-t

[2019-10-05 19:21] #120 closed

[2019-10-07 22:42] Grace-Dmello opened #121 "SRI warning for ng build"
WARNING in webpack-subresource-integrity: Cannot determine asset for chunk scripts, computed="undefined", available=scripts.c665f7f0f030771d6d1a.js.

[2019-10-08 20:44] jscheid commented on #121
Thanks, dlosing this as a duplicate of #104.

[2019-10-08 20:44] #121 closed

[2020-06-17 19:06] MichaelOdumosu57 opened #124 "WARNING in webpack-subresource-integrity: your app told me to give a warning"
WARNING in webpack-subresource-integrity: Cannot determine asset for chunk scripts, computed="undefined", available=scripts.js. Please report this full error message along with your Webpack configuration at https://github.com/waysact/webpack-subresource-integrity/issues/new,

I couldnt find a webpack.config.ts how ever heres a WebpackOptions.json I found

[webpackOptions.txt](https://github.com/wa

[2020-07-01 09:18] emzet opened #125 "Compressed files - integrity problem"
Hi, in my **Angular 9** app I'm using [ngx-build-plus](https://github.com/manfredsteyer/ngx-build-plus) for extending internal **webpack configuration**, because I want to pre-built also **gzip** and **brotli** files with this plugin [
compression-webpack-plugin](https://github.com/webpack-contrib/compression-webpack-plugin). Everything works fine, gzipped and brotlied files are ok. The problem is

[2020-07-01 20:04] jscheid commented on #125
I suspect you have a different problem if the hash doesn't match, since browsers [compute the hash for the uncompressed asset](https://www.w3.org/TR/SRI/#apply-algorithm-to-response). We've been using SRI together with compression (with just a single hash value computed from the uncompressed asset) for years without problems, and I'm sure many/most other people do too.

It would be best if you cou

[2020-07-01 21:36] jscheid commented on #125
Here's a simple [demo with compression-webpack-plugin](https://github.com/jscheid/wsi-issue-125) - works fine.

[2020-07-01 22:01] jscheid commented on #125
I'm closing this, feel free to reopen but if you do, please provide a demo or test case.

[2020-07-01 22:01] #125 closed

[2020-07-01 22:09] jscheid commented on #124
Thanks, this happens with older angular-cli versions which depend on an old version of this plugin. Upgrading to angular-cli 10 should fix it.

Closing as a duplicate of #104

[2020-07-01 22:09] #124 closed

[2020-07-02 11:25] MichaelOdumosu57 commented on #124
Greetings, as a growing developer I am sure there is a place where I can
see the answer to such questions. In the future when I see error message
from the software requiring me to reach out to its developers where should
I look

On Wed, Jul 1, 2020 at 6:09 PM Julian Scheid <notifications@github.com>
wrote:

--
Michael Odumosu
Clerical Office Associate and Fullstack Freelance Software Developer

*I

[2020-07-02 11:30] MichaelOdumosu57 commented on #124
also tried it with angular v10 still getting the same error message is
there something Im not doing

On Thu, Jul 2, 2020 at 7:25 AM Michael Odumosu <michaelodumosu57@gmail.com>
wrote:

--
Michael Odumosu
Clerical Office Associate and Fullstack Freelance Software Developer

*Information*
Tel:929-353-8278
Linkedin: https://www.linkedin.com/in/michael-odumosu-a58367b1
Facebook: https://www.facebook.c

[2020-07-02 12:08] jscheid commented on #124
I'm not entirely sure I understand the question... you did the right thing in this case. Thanks for following the instructions and reporting the issue.

I suppose that if software asks you to reach out then doing so (like you did in this case) is a nice thing to do and might help the developers. It's true that in this case it didn't, but that's only due to an unfortunate confluence of events where

[2020-07-05 20:25] MichaelOdumosu57 commented on #124
im sill getting the same warning even with creating a project with ng new
make sure the @angular/cli was at lsb 10.0.2. is there a resource to
properly learn how to use this subresource integrity logic?

On Thu, Jul 2, 2020 at 8:08 AM Julian Scheid <notifications@github.com>
wrote:

--
Michael Odumosu
Clerical Office Associate and Fullstack Freelance Software Developer

*Information*
Tel:929-353-8

[2020-07-05 21:42] jscheid commented on #124
Have you made sure that it's using a recent version of this package? Which version is it using?

This is what I'm getting (ie. version 1.4.1):

[code]

If you're getting a different version, try to figure out why. As I said, you want to make sure that you're using a recent version.

If you're getting the same then you must have a different problem. In that case, can you distill it down into a test

[2020-08-20 02:22] jscheid opened #126 "Webpack 5"
- [x] Test with `optimization.realContentHash`
- [x] Remove `webpack-sources` dependency in favor of `require("webpack").sources`

[2020-08-21 06:45] ChildishGiant opened #127 "Cannot determine asset for chunk"
[code]

Here's my config: https://github.com/cloverleaf/web/blob/master/config/webpack/config.js

[2020-08-23 22:27] jscheid commented on #127
Thanks for the report. Try with our latest `webpack-5` branch, it should work better.

We're not guaranteeing compatibility with all past and future Webpack 5 beta versions, they're changing stuff around so frequently that it's simply not practical. We're aiming to release a compatible version once a release candidate is out.

[2020-08-23 22:27] #127 closed

[2020-08-23 22:54] ChildishGiant commented on #127
Worked perfectly! Many thanks 😄

[2020-09-18 11:18] Emanuel-Gill opened #128 "WARNING in webpack-subresource-integrity:"
Cannot determine asset for chunk scripts, computed="undefined", available=scripts.b84d85e55bd4a8995fb5.js. Please report this full error message along with your Webpack configuration at https://github.com/waysact/webpack-subresource-integrity/issues/new

[2020-10-07 09:34] vlarop opened #129 "WARNING in webpack-subresource-integrity"
Cannot determine asset for chunk scripts, computed="undefined", available=scripts.859e64cef1ef944f8beb.js. Please report this full error message along with your Webpack configuration at https://github.com/waysact/webpack-subresource-integrity/issues/new

[2020-10-12 09:02] jscheid commented on #128
Thanks, this happens with older angular-cli versions which depend on an old version of this plugin. Upgrading to angular-cli 10 should fix it.

Closing as a duplicate of #104

[2020-10-12 09:02] #128 closed

[2020-10-12 09:02] jscheid commented on #129
Thanks, this happens with older angular-cli versions which depend on an old version of this plugin. Upgrading to angular-cli 10 should fix it.

Closing as a duplicate of #104

[2020-10-12 09:02] #129 closed

[2020-10-12 10:20] vlarop commented on #129
Hi,
thanks for your answer, but I started using Angular 10 and suddenly I am
getting warnings:
WARNING in
C:\Users\Vladimira\pronajem-jizni-morava\node_modules\firebase\firestore\dist\index.esm.js
depends on '@firebase/firestore'. CommonJS or AMD dependencies can cause
optimization bailouts.
For more info see:
https://angular.io/guide/build#configuring-commonjs-dependencies
I did not see such warn

[2020-10-13 07:56] LP1994 commented on #126
Webpack 5 is expected to be updated as soon as possible.

[2020-10-13 09:16] jscheid commented on #126
@LP1994 you're awaiting it eagerly :-)

The 1.5.0 release with Webpack 5 support isn't far off, just waiting for one more review. In the meantime, feel free to point your `package.json` at the [webpack-5 branch](https://github.com/waysact/webpack-subresource-integrity/tree/webpack-5) and let me know how it goes.

[2020-10-14 02:34] LP1994 commented on #126
Okay, I will, I am a person who is passionate about new things and a big fan of webpack!

[2020-10-14 04:46] jscheid commented on #126
Closed by #130, released in 1.5.0.

[2020-10-14 04:46] #126 closed

[2020-10-14 08:41] LP1994 commented on #126
Sir, when I load JS using ES6's dynamic import syntax( as: import('../test/Test.esm.js') ), the plug-in does not generate the Sri values correctly.
webpack:  5.1.0!!!
Compiled file:
[CompiledFile.zip](https://github.com/waysact/webpack-subresource-integrity/files/5376804/CompiledFile.zip)

There are a few things that I don't understand:
1、Is the code in the following image to remove the script nod

[2020-10-14 08:48] jscheid commented on #126
@LP1994 please could you create a sample repository that shows the problem?

[2020-10-14 08:52] LP1994 commented on #126
Okay, but we will be able to create a warehouse for your testing later.
Thank you. Your prompt reply.

[2020-10-17 05:19] LP1994 commented on #126
Sir, this is a very small code base, I will use the compressed package directly.
I'm sorry. I'll get back to you now.
[Test.zip](https://github.com/waysact/webpack-subresource-integrity/files/5395025/Test.zip)

[2020-10-17 13:09] LP1994 commented on #126
https://github.com/LP1994/webpack-subresource-integrity-test1.git

[2020-10-17 13:21] LP1994 commented on #126
Step 1: npm i
Step 2: npm run test

The results are in the dist folder.

[2020-10-17 21:39] jscheid commented on #126
@LP1994 thanks for putting together the sample repository.

You're using `html-webpack-plugin@5.0.0-alpha.5`, which apparently doesn't work with this plugin. Could you use version 4 instead? Let me know if you still have problems with version 4.

@jantimon is this on your radar? Let me know if there's anything I can do to help from my side.

[2020-10-17 21:49] jantimon commented on #126
hey :)

the current alpha is using the new webpack apis to add and delete assets:

https://webpack.js.org/api/compilation-object/#emitasset

Maybe all you have to do is to switch to getAssets or getAsset.

Please let me know if I can be of any help to solve this issue

[2020-10-17 23:01] jscheid commented on #126
@jantimon ah, right, interesting... there's a little bit more to it, but yes it looks like it's mostly a bit of rejiggling.

There's one issue though, it appears that `htmlWebpackPluginAlterAssetTags` is now called before the `afterOptimizeAssets` hook. I think this is different from before. Is that easy for you to switch back? I'm using `alterAssetTags` to add integrity, but that can only be comp

[2020-10-17 23:32] jantimon commented on #126
I am not sure if this is possible - Webpack 5 disallows adding assets after the `compilation.hooks.processAssets` hook..

So we have a timing conflict:

`compilation.hooks.processAssets` is adding all the assets so you have to wait for it but also the html-webpack-plugin is part of it so you can't wait for it..

[2020-10-17 23:44] jscheid commented on #126
Perhaps the HTML files your plugin generates shouldn't be considered "assets" in the Webpack sense after all? What's the reason behind switching to `emitAsset`?

[2020-10-17 23:52] jantimon commented on #126
The reason is a change in the webpack architecture:

[code]

The other reason is that plugins like the compression plugin or workbox generate their assets based on the html-webpack-plugin and expect it to be created in this step.

So given that you have now Workbox + Compression + Html + SubresourceIntegrity there would only be one possible timeline:

1. final CSS & JS generation
1. subresourceInt

[2020-10-18 00:42] jscheid commented on #126
@jantimon is it maybe just a matter of selecting the right `PROCESS_ASSETS_STAGE_`, something like `PROCESS_ASSETS_STAGE_DEV_TOOLING` (which doesn't sound appropriate for your plugin by the name of it, but sounds like it might run after optimization and before e.g. compression.)

[2020-10-18 00:48] jahed opened #131 "Tags are injected with integrity="undefined" on v1.5.0"
I'm on  Webpack 4.44.2 and noticed after upgrading to this plugin's v1.5.0 release that injected tags have an `undefined` integrity. Tags inserted via html-webpack-plugin have the correct integrity, but dynamically injected tags use `undefined` and the integrity check is bypassed.

Here's what Firefox prints:
[code]

There are no errors or warnings printed during Webpack's build.

Downgrading to 1

[2020-10-18 04:49] LP1994 commented on #131
It's also being discussed here.

https://github.com/waysact/webpack-subresource-integrity/issues/126

[2020-10-18 05:46] #131 closed

[2020-10-18 06:19] jscheid commented on #131
@jahed thanks for reporting this. A fix for this issue is published in v1.5.1 and a [security advisory](https://github.com/waysact/webpack-subresource-integrity/security/advisories/GHSA-4fc4-chg7-h8gh) created.

[2020-10-18 09:17] jscheid commented on #131
This one shouldn't have slipped through 💩

It's a Sunday night where I am but I'll expand a bit more about the contributing factors here soon.

[2020-10-18 11:31] LP1994 commented on #131
![image](https://user-images.githubusercontent.com/12012671/96366171-757ff580-1178-11eb-89d8-a140028c2e1e.png)
![image](https://user-images.githubusercontent.com/12012671/96366172-79ac1300-1178-11eb-971a-0a418ef75377.png)
 v1.5.1!!!It's still wrong.

[2020-10-18 11:32] LP1994 commented on #126
![image](https://user-images.githubusercontent.com/12012671/96366171-757ff580-1178-11eb-89d8-a140028c2e1e.png)
![image](https://user-images.githubusercontent.com/12012671/96366172-79ac1300-1178-11eb-971a-0a418ef75377.png)
 v1.5.1!!!It's still wrong.

[2020-10-18 11:47] jahed commented on #131
@LP1994 I haven't checked 1.5.1 myself yet but what you're experiencing is probably a browser caching bug as it's computing a SHA256 when it should be comparing a SHA512. You might need to cache bump your files (e.g. add a number to the end of the output files like `CT_JS_0c8cb6.js` becomes `CT_JS_0c8cb6_1.js`). I had a similar issue a few weeks back and a cache bump solved it.

[2020-10-18 11:56] LP1994 commented on #131
Moreover, the error Sri value is different from the Sri value on the page!!! And I have cleared the cache, there should be no cache.

[2020-10-18 12:03] LP1994 commented on #131
However, 1.5.0 is still OK, but the Sri of dynamically imported files cannot be generated correctly.

Now, however, none of the Sri values work.

[2020-10-18 12:03] LP1994 commented on #126
However, 1.5.0 is still OK, but the Sri of dynamically imported files cannot be generated correctly.

Now, however, none of the Sri values work.

[2020-10-18 12:08] jahed commented on #131
@LP1994 The value in the console log is the SHA256 hash, while yours is a SHA512, so it will be different. Either Chrome is using a cached integrity (which a cache bump can fix) or it's reporting the wrong integrity (see the Chromium issue I linked).

The integrity cache is not stored in regular browser caches so it can't be cleared through the interface. You'll have to either change the script UR

[2020-10-18 12:10] LP1994 commented on #131
thank you!!!I'll try again.

[2020-10-18 20:26] jscheid commented on #126
@LP1994 please don't comment across multiple tickets about the same issue. I've tested [your example](https://github.com/LP1994/webpack-subresource-integrity-test1.git) with webpack-subresource-integrity 1.5.1, webpack 5.1.3, and html-webpack-plugin 4.5.0 and it works fine here now.

html-webpack-plugin 5.0.0-alpha is currently unsupported. You need to use version 4.

If you can confirm it works w

[2020-10-19 01:55] LP1994 commented on #126
OK.

[2020-10-19 08:49] jscheid commented on #131
Ok, I've spent some time reflecting on what went wrong here, and the bottom line is:

1. Despite an extensive battery of tests, one important test for this particular case was missing.
2. Considering the scope of the changes for 1.5.0, it would have been wise to publish a release candidate first, to allow the community to uncover potential issues, as we've done in the past.
3. We've also come to r

[2020-10-19 08:53] LP1994 commented on #131
If you need a test, I'm ready to help you.

[2020-10-19 09:51] jantimon commented on #131
@jscheid that sounds awesome :)

I talked to the webpack core team and they told me that they will probably provide us with additional stages so that we can built the html at time where the css & js files have been optimized and you can generate the correct hashes..

I'll keep you posted :)

[2020-10-29 03:01] lukaskurz opened #133 "Subresource integrity checks suddenly failing"
## Problem
The build of my angular app is outputting this warning:
[code]

and now my web-app is longer available to my customers, since the SRI checks are failing.

![Screenshot from 2020-10-29 03-57-04](https://user-images.githubusercontent.com/22956519/97520242-076ad800-199b-11eb-9a48-19a3a44d6774.png)

This problem occured since the last build, so maybe around 2 two weeks ago.
I have found abs

[2020-10-30 08:09] Airkro opened #134 "Remove Non-Web build warning in 'electron-renderer'"

[2020-10-30 08:49] jscheid commented on #133
Sorry to hear that this broke your website - that shouldn't happen. Which version of this plugin are you running and which version of webpack?

[2020-10-30 08:53] jscheid commented on #134
Seems reasonable, planning to add it to the next release.

[2020-10-31 11:33] lukaskurz commented on #133
So i did some further digging next, together a with a coworker and it turn out that our customer, for whom we set up cloudflare, just enabled css/js minification, without giving us any notice. You can guess what that did the SRI checks.

So the checks did not fail because of the warning but I'd still be interested how to fix the warning.

I'll try and provide with as much info as possible:

`packa

[2020-11-01 09:55] jscheid commented on #133
Thanks. This looks a lot like #104. So, I would suggest that you upgrade to the latest version of this plugin, which afaik means you will also have to upgrade angular (and in particular, `angular-cli` to version 10) but you've indicated that that's not a problem.

However, this is the first time I hear about this issue _breaking_ a web page, so I wonder if something else is going on. If you still

[2020-11-02 18:36] lukaskurz commented on #133
This is a boiled down version of my repo:
https://github.com/lukaskurz/sri_warning_demo

Basically calling `make` should do everything from clean, install and build for you.

[2020-11-03 02:41] jscheid commented on #133
Thanks for the demo, much appreciated.

I've had a look and what I've found is that this plugin expects the webpack `chunkAsset` hook to be called for every chunk. Angular contains a custom plugin called `scripts-webpack-plugin` that adds a chunk without calling this hook, which means that this plugin doesn't know about the chunk.

Adding the following line [at the end of the `_insertOutput` funct

[2020-11-04 11:20] li-xianfeng opened #135 "Error of hash lookup for dynamic chunks"
webpack-subresource-integrity@1.5.1
webpack@5.3.2

It's fail to lookup hash value for dynamic chunk when the chunk id is not digit.
![error-key](https://user-images.githubusercontent.com/8556095/98104394-59e35180-1ed1-11eb-898d-bf60fe75cc70.png)

![webpack-config](https://user-images.githubusercontent.com/8556095/98104785-e7bf3c80-1ed1-11eb-8ed6-ca456f49c092.png)

[2020-11-04 15:13] lukaskurz commented on #133
Great, thanks for the explanation and taking time for this. I'll look into creating an issue on their repo about this.

[2020-11-05 06:06] #134 closed

[2020-11-05 06:09] jscheid commented on #97
Closing stale issue, I don't know what else I can do here. Feel free to reopen if this is still an issue.

[2020-11-05 06:09] #97 closed

[2020-11-05 06:42] #135 closed

[2020-11-05 08:59] jscheid commented on #134
Thanks for reporting this. Released in 1.5.2 🚢

[2020-11-05 08:59] jscheid commented on #135
Thanks for reporting this. Released in 1.5.2 🚢

[2020-11-05 09:08] jscheid commented on #133
I'm going to close this for now. Feel free to reopen if you think there's anything to be done at this end.

[2020-11-05 09:08] #133 closed

[2020-11-09 18:22] clydin opened #138 "Incorrect warning with Webpack 5 and array target option"
Current Behavior:

When using Webpack 5, the Webpack `target` option can also be an array of strings ([documentation](https://webpack.js.org/configuration/target/#string-1)).  When this form of the option is used, this plugin will issue a warning even if `web` is present in the `target` option array.

Expected Behavior:

When the `target` option is an array and the array contains a `web` element,

[2020-11-09 18:59] jscheid commented on #138
I can't seem to reproduce this, for example with `target: ['web', 'es5']`. Are you using the latest version? If so, could you let me know a specific target setting that you see the issue with or, even better, provide a demo repository that triggers it?

As for `false`, for checking compatibility we're now using the `chunkLoading` setting when available so hopefully that should work as well.

[2020-11-09 20:40] clydin commented on #138
Updating to 1.5.2 from 1.5.1 does indeed prevent the error due to the new `chunkLoading` check.
Technically a configuration with `chunkLoading: false` & `target: ['web', 'es5']` would trigger the warning but that is probably not common enough to special case.

Thank you for the quick response.

[2020-11-09 20:40] #138 closed

[2020-11-11 07:10] edwinbadillo opened #139 "Issue with Terser Plugin using banner"
It seems the SRI value is being generated before the terser plugin adds the banner.
Following standard properties to separate license copy as per webpack documentation.
https://webpack.js.org/plugins/terser-webpack-plugin/#banner

webpack-subresource-integrity 1.5.2
terser-webpack-plugin 5.0.3
webpack 5.4.0

[2020-11-11 19:15] jscheid commented on #139
Thanks for the bug report. This is going to be fixed in the upcoming 5.0 branch. I'm planning to release a first alpha version in the course of next week.

[2020-12-08 15:32] bnupy opened #140 "Issue with integrity build"
WARNING in webpack-subresource-integrity: Cannot determine asset for chunk scripts, computed="undefined", available=scripts.95460c9f91f9338b7eb9.js. Please report this full error message along with your Webpack configuration at https://github.com/waysact/webpack-subresource-integrity/issues/new

[2021-01-05 05:01] argelj289 opened #141 "Angular 10 "scripts" chunk doesn't receive SRI"
I got a warning when executing ng build --subresource-integrity

[code]

angular cli version: 10.1.3

webpack-subresource-integrity version: 1.4.1

webpack.config.js

![image](https://user-images.githubusercontent.com/40298377/103608199-befd0700-4f55-11eb-8957-3948651972dd.png)

[2021-01-05 05:04] jscheid commented on #141
Which Webpack version are you using?

[2021-01-05 05:44] zlk89 opened #142 "Doesn't work with webpack 5's realContentHash"
Reproducible sandbox: https://codesandbox.io/s/html-webpack-plugin-5x-alpha-forked-9lnjm?file=/src/template.html
If you open console, you will see the error saying the integrity is wrong.
[if the sandbox doesn't load, just open a new terminal and run `yarn start` and refresh the built-in browser]

To reproduce, you need to enable:
- source map
- optimization.realContentHash = true
- use contenthas

[2021-01-05 05:49] jscheid commented on #142
Sorry, we don't have support for HWP 5 yet. (You should have seen a [warning to that effect](https://github.com/waysact/webpack-subresource-integrity/blob/4c965fcbed636177da3c98173b294f38806cac92/package.json#L79)). Planning to release a new compatible version once [this](https://github.com/jantimon/html-webpack-plugin/issues/1554#issuecomment-748033522) is sorted out.

[2021-01-05 05:49] #142 closed

[2021-01-07 05:50] argelj289 commented on #141
webpack version is 4.44.1

[2021-01-11 11:13] egorovli opened #143 "Invalid hashes for dynamic chunks"
Hi. It seems like the hashes generated by `webpack-subresource-integrity` are invalid for dynamic chunks, or at least they are in my case. I've set up a demo repository here: [egorovli/webpack-subresource-intergrity-invalid-hashes-demo](https://github.com/egorovli/webpack-subresource-intergrity-invalid-hashes-demo).

Errors are reported by Chrome and Safari:

[code]

[code]

So the generated SHA-2

[2021-01-11 21:17] jscheid commented on #143
Hi, thanks for the repro.

I suspect this is because of Webpack 5's new "real" content hash.

I have a version 2.0 in the making that I will release an alpha version for soon, pretty sure that it will work with that but I'll add a test case to make sure. Stay tuned.

[2021-01-11 23:47] jmrossy commented on #143
@jscheid I've just tested this pluging with the latest webpack 5 + HtmlWebpackPlugin and I'm finding that even the main bundle's hash is incorrect, not just the dynamic imports. Any suggestions on things to try?

See here for webpack config: https://github.com/celo-tools/celo-web-wallet/blob/rossy/sri/webpack.config.js
To repro, try `yarn && yarn build:prod` then see the incorrect hash in `dist/in

[2021-01-12 00:39] jscheid commented on #143
If by latest HtmlWebpackPlugin you mean 5.0.0-beta.4, we're not supporting that yet. Support is coming in 2.0 which isn't far off, sit tight.

[2021-01-12 20:24] jmrossy commented on #143
@jscheid Sorry to bother you here again, just looking for a rough estimate of when 2.0's alpha would be available? A few days or a few weeks? Knowing the rough timeline would help decide if it's worth it to wait or workaround for now.

[2021-01-12 21:41] jscheid commented on #143
Probably not more than a few days.

[2021-01-13 19:26] trickeyone commented on #143
I'm actually seeing this issue with webpack 4. We weren't previously using SRI but decided to enable it. The hashes being generated are incorrect. It doesn't seem to actually be something with this plugin, though. I created a temporary plugin to test my theory. My plugin reads the files on the `done` webpack hook, then generates the hashes of the file content.

[code]

I also logged the hashed val

[2021-01-13 19:44] trickeyone commented on #143
To add to the above, I just did another build in further troubleshooting. An error occurred during the `afterEmit` hook resulting in the build halting, but after the files had been written and after the SRI hashes had been calculated. When I ran `shasum` again, the hashes matched. So it appears that something is occurring during (possibly) the `afterEmit`.

[2021-01-13 19:58] jscheid commented on #143
@trickeyone can you open a separate issue for this? This issue is about Webpack 5 (you're using 4) and about dynamic chunks (yours is failing at the top level).

However, if something is changing assets `afterEmit` for you then I don't think we can do much about it. You might want to check any other plugins you're using and if they do make changes `afterEmit`, see if you can get the author to chan

[2021-01-13 20:00] trickeyone commented on #143
@jscheid Ah, ok. I thought it was focusing on the hashes, my apologies. I just wanted to bring attention to that I was having an issue with webpack 4, as well.

[2021-01-13 21:58] jscheid commented on #141
I think this is the same as discussed here: https://github.com/waysact/webpack-subresource-integrity/issues/133#issuecomment-720874670

[2021-01-13 21:58] jscheid commented on #133
@lukaskurz did you end up following up on this with the Angular folks?

[2021-01-13 22:03] jscheid commented on #140
Thanks, closing as a duplicate of #141

[2021-01-13 22:03] #140 closed

[2021-01-17 15:39] lukaskurz commented on #133
@jscheid Sorry, totally forgot about that project, life got in the way and all that :sweat_smile: I'll try to make some time to create an issue there.

[2021-01-19 22:05] jscheid opened #144 "RFC: Release 5.0"
We're preparing to release a new major version 5.0, skipping major versions 2-4. Development is taking place in the [`next` branch](https://github.com/waysact/webpack-subresource-integrity/tree/next).

Read the [migration instructions](https://github.com/waysact/webpack-subresource-integrity/blob/next/MIGRATE-v1-to-v5.md) and see [early releases](https://github.com/waysact/webpack-subresource-inte

[2021-01-19 22:14] jscheid commented on #143
I've now released version 5.0.0-alpha.1, see https://github.com/waysact/webpack-subresource-integrity/issues/144

@egorovli I've tested your sample repo with the new version and seems to work fine, see here: https://github.com/jscheid/webpack-subresource-intergrity-invalid-hashes-demo/commit/c86a681a5b132e23922bcb5860ca501291497da2

Closing this, feel free to reopen if there's still a problem.

[2021-01-19 22:14] #143 closed

[2021-01-19 22:16] jscheid commented on #139
I've now released version 5.0.0-alpha.1, see https://github.com/waysact/webpack-subresource-integrity/issues/144

@edwinbadillo there's a test case for your issue so it should work for you: https://github.com/waysact/webpack-subresource-integrity/tree/next/examples/terser-banner

Closing this, feel free to reopen if there's still a problem.

[2021-01-19 22:16] #139 closed

[2021-01-19 22:20] jscheid commented on #144
/cc @jantimon @sokra

[2021-01-20 12:36] lukaskurz commented on #133
I created an issue over there:

https://github.com/angular/angular-cli/issues/19829

[2021-01-21 02:31] ZebraFlesh opened #145 "Usage without html-webpack-plugin?"
I'm struggling with how to use this without html-webpack-plugin. Given the following list of plugins in my webpack.config.js:

[code]

All of the `asset.integrity` values are `undefined` (because the property doesn't exist on the object). However, when I add HtmlWebpackPlugin to the list of plugins, I definitely get `integrity` values. So this plugin is working, but I can't seem to locate the info

[2021-01-21 03:04] jscheid commented on #145
I'll try and take a look soon. In the meantime you could see if you have more luck with version `5.0.0-alpha.1`? You'll have to upgrade webpack to 5.12 or newer as well.

[2021-01-21 16:26] ZebraFlesh commented on #145
`5.0.0-alpha.1` successfully produces hashes 🎉. Unfortunately, I was looking specifically for sha512 hashes. [Here's a good explainer on why you should used sha512 if you're using only a single hash](https://stackoverflow.com/questions/52101501/whats-the-best-sri-hash-size/52102596#52102596).

[2021-01-21 20:06] jscheid commented on #145
You can still [configure which function to use](https://github.com/waysact/webpack-subresource-integrity/tree/next/webpack-subresource-integrity#hashfuncnames
), as before. Does that not work?

[2021-01-21 20:40] ZebraFlesh commented on #145
I _completely_ missed that and thought it was locked down sha384 in the v5 line. That option works, thank you!

[2021-01-21 20:40] #145 closed

[2021-01-21 20:43] jscheid commented on #133
Thanks @lukaskurz!

[2021-01-27 15:07] willdurand opened #146 "Cannot import plugin with `@next` release"
Hey, I pulled the `@next` release (alpha-1) in my project and it's not possible to use the following import line anymore:

[code]

The error I get is:

[code]

Instead, I have to use:

[code]

[2021-01-27 20:08] jscheid commented on #146
Yes, that's on purpose, there's some more info here: https://github.com/waysact/webpack-subresource-integrity/blob/next/MIGRATE-v1-to-v5.md#named-export-subresourceintegrityplugin

[2021-01-27 20:08] #146 closed

[2021-01-29 09:56] willdurand commented on #146
aww sorry about that, I missed that md file 🤦

[2021-01-29 10:00] jscheid commented on #146
No problem, it needs a more prominent link. I'll push a change to the readme on master.

[2021-01-31 02:42] hchokshi opened #147 "webpack-subresource-integrity throws error when a processed tag has no attributes"
I have a project using webpack 5 and the latest versions of html-webpack-plugin and webpack-subresource-integrity. I also have a plugin that inlines scripts (e.g. webpack runtime chunk) into the generated HTML. This generates a `<script>` tag with no attributes, which causes webpack-subresource-integrity to throw when it checks the tag for an existing integrity attribute.

[code]

[2021-01-31 23:44] jscheid commented on #147
Thanks, sounds like a regression from #122. Let me check first what happened to it.

[2021-02-02 09:26] jscheid commented on #147
@hchokshi I need to understand this better so that we can write a test case for it. Could you create a repository with a minimal reproduction? What's the plugin you were mentioning?

[2021-02-05 06:10] hchokshi commented on #147
Hey @jscheid, here's the bare minimum to repro - https://github.com/hchokshi/webpack-sri-inline-repro

[2021-02-09 08:37] jscheid commented on #141
As far as I know this has been fixed in https://github.com/angular/angular-cli/issues/19829. Can somebody confirm?

[2021-02-09 08:43] jscheid commented on #147
@hchokshi thank you very much for tracking down this issue, writing a fix, and providing a test case. Aiming to release this in a new version later this week.

[2021-02-10 00:49] jscheid commented on #147
Released in v5.0.0-alpha.2

[2021-02-10 00:49] #147 closed

[2021-02-16 06:08] Chris3773 opened #151 "How to access integrity value for non chunks within a HtmlWebpackPlugin template?"
I have a loader to split out css files so I can load them at runtime. My plan was within the HtmlWebpackPlugin template add a global with a map to the css file path and the integrity value. Then I could map the integrity value to load at runtime. The problem is when I look on the `compilation` object within the HtmlWebpackPlugin template I only see the integrity values for the chunks under the `co

[2021-02-16 08:08] jscheid commented on #151
Is there a reason you can't use normal code splitting for lazy-loading your CSS, such as with [mini-css-extract-plugin](https://webpack.js.org/plugins/mini-css-extract-plugin/)?

[2021-02-16 08:35] Chris3773 commented on #151
Lazy loading with mini-css-extract-plugin creates a chunk that needs to load before loading the css file. I was trying to avoid the extra loading of a file that only had the path in the chunk.

[2021-02-16 08:51] jscheid commented on #151
Does it really matter with HTTP 2?

Anyway, to answer your original question: if it's not a chunk, this plugin won't calculate integrity for it in the first place. If you make it a chunk then you can access the integrity value on the `compilation.assets` object.

If it's an asset and not a chunk, which I suppose would be possible like eg. Webpack does for images, then I'm not 100% sure. As you're

[2021-02-16 20:59] Chris3773 commented on #151
I'm not creating a plugin as I can get what I need from the asset module that was added in webpack 5. The logic for when the sytlesheets are added are also controlled by the app.

This is the loader setup what I have that is splitting out the files.
[code]

The hack I came up with is to create and add the integrity value as a query param on filename creation. However with when the hash is created

[2021-02-16 21:11] jscheid commented on #151
I see, let me take a closer look. Could you put up a test repo?

[2021-02-23 21:45] zlk89 opened #152 "SRI breaks real contenthash filename generation"
## Reproducible steps
1. Git clone https://github.com/zlk89/webpack-reprods/tree/json-encoding-sri
2. Go to json-encoding-sri branch
3. `yarn`
4. `yarn compile` - you will find a file `4d606cb93b59421d4129.js` (line 10 is `JSON.parse('{"key":"value","key2":"value2","key3":"value","key4":"value2","key5":"value"`)
5. Change webpack version from `5.24.0` to `5.21.2` which it doesn't have this [improv

[2021-02-23 22:30] jscheid commented on #152
I can reproduce this, discussing a fix over at https://github.com/webpack/webpack/pull/12642

[2021-02-24 05:23] jscheid commented on #152
@zlk89 if you like you can test the fix with the tarball found at the bottom of [this](https://github.com/waysact/webpack-subresource-integrity/actions/runs/594899566#artifacts) page, planning to roll a release soon as well.

[2021-02-24 06:45] zlk89 commented on #152
thanks for the quick fix. Verified that it only generates different filenames now!

[2021-02-24 23:40] jscheid commented on #152
Thanks for the bug report. Released in v5.0.0-alpha.4.

[2021-02-24 23:40] #152 closed

[2021-02-25 22:51] zlk89 opened #154 "5.0.0-alpha.4 generates wrong integrity hash with mini-css-extract-plugin"
## Repro
1. git clone and go to this branch `sri-breaks-css`: https://github.com/zlk89/webpack-reprods/tree/sri-breaks-css
2. `yarn`
3. `yarn start` and go to http://localhost:8080/, you can see an error on console:
[code]
4. Downgrade webpack-subresource-integrity to `5.0.0-alpha.3`  and `yarn` to reinstall dependency
5. `yarn start` again, and it works now

This appears to be related with the co

[2021-02-25 23:12] jscheid commented on #154
@sokra any thoughts here? The only change in alpha.4 is the one you suggested (return undefined instead of old hash.)

[2021-02-26 13:03] sokra commented on #154
Could you try if this still happens without source map

[2021-02-26 17:44] zlk89 commented on #154
Hi @sokra as described in the issue, one required condition to trigger this bug is to enable sourcemap. So if sourcemap isn't enabled, then it works fine.

[2021-02-28 18:31] sokra commented on #154
The circular hashes between source map and source file are the problem. Impossible to calculate a real hash for both. We need to add something to enforce the real hash for the source file. Or flag real hash as lower prio for the source map.

[2021-02-28 19:11] jscheid commented on #154
@sokra it sounds like you're going to address this in Webpack core, or does this need any changes in this plugin?

[2021-02-28 21:17] jscheid commented on #151
@Chris3773 if you still wanted me to look into it, I need you to put up a small sample repository that demonstrates the issue. Feel free to reopen this once you find the time to do that.

[2021-02-28 21:17] #151 closed

[2021-02-28 22:31] zlk89 commented on #154
Hmm the interesting thing is that this bug doesn't happen to style-loader, not sure if it is an issue on mini-css-extract-plugin

[2021-03-01 08:06] sokra commented on #154
Ok I looked into it and actually there are not circular hashed between source map and source file. It seems like the CSS files doesn't have the integrity hash as `contenthash` assigned:

[code]

[2021-03-01 11:27] jscheid commented on #154
@sokra thanks for digging into this, not entirely sure why this bug was revealed only by that latest change.

@zlk89 could you test with the branch I've just pushed? Should work better now.

[2021-03-03 07:00] jscheid commented on #154
Thanks for checking. Fix released in v5.0.0-alpha.5.

[2021-03-03 07:00] #154 closed

[2021-03-03 07:03] jscheid commented on #141
To my knowledge the fix for this was released in [angular-cli v11.2.0](https://github.com/angular/angular-cli/releases/tag/v11.2.0-next.0), I'm assuming that resolves the issue.

[2021-03-03 07:03] #141 closed

[2021-03-14 22:23] joeldhenry opened #156 "Cannot determine asset for chunk scripts, computed="undefined","
got this strange error when building production. It doesn't seem to affect the bundle:

[code]

[code]

[2021-03-14 22:29] jscheid commented on #156
Are you running angular-cli < 11.2? Upgrading to latest should fix it: https://github.com/waysact/webpack-subresource-integrity/issues/141#issuecomment-789489052

[2021-03-18 09:11] Darren-Ivey opened #157 "Adding integrity to a chunk"
I want to add sri to my scripts that are using the files.chunks. Is this possible?

A snippet of my code is below

[code]

[2021-03-18 10:02] jscheid commented on #157
What are you trying to achieve? The normal way chunks are used in Webpack is through lazy-loading, which this plug-in supports transparently.

[2021-03-18 10:03] #156 closed

[2021-03-18 10:43] Darren-Ivey commented on #157
Thank you for getting back to me so quickly. I know my setup has html-webpack-plugin with inject: false and I want to add integrity to the script. The example in the Readme shows how to do this with htmlWebpackPlugin.files, but I am not sure how to achieve it with htmlWebpackPlugin.files.chunks. I imagine it would be something like this?

[code]

[2021-03-18 11:06] jscheid commented on #157
Why do you want to use `files.chunks` and not just `files`?

[2021-04-28 15:02] oleksandrsydorenko opened #158 "Wrong integrity hashes injected to scripts through HtmlWebpackPlugin v5+"
## Current behaviour

Plugin computes hashes for incorrect chunk files names

<img width="251" alt="Screenshot 2021-04-28 at 17 32 18" src="https://user-images.githubusercontent.com/20060789/116421732-c8cdb180-a847-11eb-8a9d-498327d08d99.png">

instead of

<img width="722" alt="Screenshot 2021-04-28 at 17 32 33" src="https://user-images.githubusercontent.com/20060789/116421777-d2efb000-a847-11eb-9

[2021-05-09 22:46] StephanBijzitter commented on #144
Thanks for this issue, and especially thanks for the great release notes on the alpha versions. Worked first try :-)

[2021-05-13 14:31] And2s opened #159 "Warning: webpack-subresource-integrity: Cannot determine asset for chunk 4953, computed="425936091ab94d4d8648.png", available=4953.d2f266edafb09b67e3c6.js."
Angular 12.0.0 (no extra webpack config)

Many warnings like this on `ng build`:

[code]

I am using Webpack Asset Modules feature:
[code]

[2021-05-26 23:43] mfinelli commented on #144
Any idea when we might see a final v5 release? I've been using the v5 alpha for a few months now without issue.

[2021-05-27 08:33] jscheid commented on #158
You're using version 1.5.2 which is incompatible with html-webpack-plugin version 5. Please try again using the `next` version (5.0.0-alpha.5) and let me know if this works, it should.

[2021-05-27 08:34] jscheid commented on #159
Which version of this plugin (`webpack-subresource-integrity`) are you using?

[2021-05-27 08:34] jscheid commented on #157
Closing due to reporter timeout.

[2021-05-27 08:34] #157 closed

[2021-05-27 08:35] jscheid commented on #144
@mfinelli yes, it's overdue. I'll try to find the time and finalize 5.0.0 soon, watch this space.

[2021-05-30 07:58] oleksandrsydorenko commented on #158
With 5.0.0-alpha.5 version works fine, thanks!

[2021-05-30 10:29] #158 closed

[2021-06-15 13:37] KiranEarle commented on #144
Hi all, any updates on when this is a full fledged version, having trouble convincing the business to move to webpack 5 with this being a full version?

[2021-06-22 16:32] gaje opened #160 "Feature Request: Write hashes to a manifest"
Hey! Just wanted to drop this here to see if it was possible to write the hashes to a manifest instead of trying to plug them into the template directly. This is useful for places where the assets are looked up dynamically at a later time, or there is no direct template to be written to.

Thanks!

[2021-06-22 16:35] gaje commented on #160
Nevermind. I missed [this](https://github.com/waysact/webpack-subresource-integrity/tree/master/examples/webpack-assets-manifest)

[2021-06-22 16:35] #160 closed

[2021-06-23 10:03] jscheid commented on #144
I'm going to try and get to this next week.

[2021-07-13 12:23] jscheid commented on #159
Closing this. Feel free to reopen if you can provide more detail.

[2021-07-13 12:23] #159 closed

[2021-07-14 17:47] Dandrum opened #161 "Got "Cannot read property 'version' of undefined" ERROR"
Hi, i try using this plugin for NEXT.js

but i dont have installed webpack because it comes with next but even if i install it i get.

[code]

As you can see its this line from 'jmtp.js' row 10:
[code]

Do you know any solution ?

Best,
Dan

[2021-07-14 22:15] jscheid commented on #161
Unfortunately, Next.js doesn't have support for this plugin yet. A while ago [I've offered my help](https://github.com/vercel/next.js/discussions/23951) to make it work but never heard back.

That said, we are using the two together in an internal project. It's a bit of a hack and basically uses this plugin for dynamic imports and a custom post-processing step for top-level assets. I can't share t

[2021-07-15 09:01] Dandrum commented on #161
Hey, Thanks.
I will figure out a way, thanks for your help anyways ;)

[2021-07-15 09:56] #161 closed

[2021-07-16 00:09] And2s commented on #159
Using Angular 12.1.2 framework. It has `webpack-subresource-integrity` 1.5.2

I import images using Webpack Asset Modules feature.

e.g.
`new URL('./images/bg.jpeg', import.meta.url).pathname`

All images seems successfully imported. Only these warnings appear.

[2021-07-22 21:10] jarrett-confrey commented on #144
@jscheid the alpha is working well for me. im looking forward to a non alpha version when you get a chance 😄

[2021-07-27 15:55] jens-duttke opened #162 "Webpack 5.47.0 fails with v5.0.0-alpha.5"
After updating to Webpack 5.47.0, the browser throws a lot of integrity violations:
[code]
With Webpack 5.46.0 everything worked fine.

Is that a Webpack issue, or does this plugin use some internal APIs which have been changed in Webpack 5.47.0?

[2021-07-27 21:07] jscheid commented on #162
I need to look into more but at first glance it looks like it might be a problem with long-term caching. It seems that Webpack 5.47 generates different content for the same contenthash. Different content means that the SRI value is different, but same contenthash means that the browser will reuse the same outdated content from the cache. Can you confirm that this is the case by testing with an emp

[2021-07-27 21:45] jscheid commented on #162
I have a hunch it might be related to https://github.com/webpack/webpack/commit/0bd1e789d48f9b3e3ca38d6c48db7c7be5380bcd, where possibly the newer Webpack version omits `use strict` without it affecting the hash, but I haven't been able to reproduce it so far. It would be useful to see your `webpack.config`, in particular your `optimization` settings.

[2021-07-27 21:53] jscheid commented on #144
Thanks all for your patience, it's been a busy time for me but there's going to be a new release later this week, and a 5.0 release in the not too distant future.

[2021-07-28 15:30] jarrett-confrey opened #163 "integrity missing from namedChunkGroups assets"
`integrity` is in `stats.toJson().assets` but not `stats.toJson().namedChunkGroups.assets`. i noticed this when working with `loadable-components`. i have https://github.com/gregberge/loadable-components/pull/803 (`packages/webpack-plugin/src/index.js`) to add `integrity` to `namedChunkGroups` but im curious if it might be better to do so in this library instead or as well

[2021-07-28 15:52] jens-duttke commented on #162
@jscheid My optimization settings looks like this:
[code]

If I run the same page in Incognito mode the page is loading correctly. So I assume it's really the same contenthash for different content.

[2021-07-29 11:00] jscheid commented on #162
I've managed to reproduce this with a [test case](https://github.com/waysact/webpack-subresource-integrity/commit/38a06db3c66ec89c5a2c38d4bfb6b63eb5f394da), which generates files with the same name and different contents between Webpack 5.46 and 5.47. The diff in question looks like this:

[code]

What this (and also #152) shows is that there is a class of "benign" changes in file contents (with t

[2021-07-29 12:00] jscheid commented on #163
Thanks for the suggestion, it did sound reasonable at first. But on closer inspection it turns out that in terms of the official typings, elements of `stats.toJson().assets` are explicitly designed to receive custom properties (via `& Record<string, any>`): https://github.com/webpack/webpack/blob/60d8968cd48cf1677df5f50ed878c6a912e9d692/types.d.ts#L10597

... whereas elements of `stats.toJson().na

[2021-07-29 15:18] jscheid commented on #162
@jens-duttke could you also share the `output` section of your config?

[2021-07-29 16:02] jens-duttke commented on #162
Sure:
[code]

[2021-08-02 10:58] #163 closed

[2021-08-02 11:02] jscheid commented on #162
Thanks for the report @jens-duttke. After discussing this with @sokra I've changed the plugin to output a warning when the output filenames are configured in a way that can cause this situation. This change is released in 5.0.0-rc.1.

[2021-08-02 11:02] #162 closed

[2021-08-02 11:10] jscheid commented on #144
5.0.0-rc.1 is out now, let me know how you go with it. I'm planning to follow it up with a 5.0.0 release in the near future.

[2021-08-04 08:11] themgoncalves opened #164 "Conflict with html-webpack-plugin - wrong hash being computed"
## Current behaviour 💣

After upgrading the `html-webpack-plugin` to `v5+`, somehow the assets are being manipulated in a way that it does not match the previously computed `integrity` hash anymore, outputing the following error on Browser's console:

The `Sub Resource Integrity` is of course computed by `webpack-subresource-integrity`.

## Expected behaviour ☀️

Keep assets as it was received.

#

[2021-08-04 08:28] jscheid commented on #164
Using 5.0.0-rc.1 should fix this: https://github.com/waysact/webpack-subresource-integrity/tree/main/webpack-subresource-integrity#readme

[2021-08-06 08:14] themgoncalves commented on #164
@jscheid indeed the `v5.0.0-rc.1` fixes this issue and for that, I'm closing this issue.

[2021-08-06 08:14] #164 closed

[2021-08-12 03:51] AprilArcus opened #165 "Error loading Workers as Asset Modules"
Hi folks! I am having problems [loading workers as asset modules](https://webpack.js.org/guides/web-workers/) in conjunction with subresource integrity plugin and the use of [`contenthash`](https://webpack.js.org/configuration/output/#template-strings) in [chunk file names](https://webpack.js.org/configuration/output/#outputchunkfilename). Any two of the following will work:
  * SRI Plugin
  * `ne

[2021-08-12 05:50] AprilArcus commented on #165
Minimal repro: https://github.com/AprilArcus/webpack-sri-workers-contenthash-repro

[2021-08-12 15:37] roninjin10 commented on #165
I was able to make an even more minimal repro where I stripped out everything except the hook that was causing this bug to happen AprilArcus/webpack-sri-workers-contenthash-repro#1

It appears to me to be a webpack bug triggered by service workers (or potentially more generally async chunks but I didn't test this) and the plugin calling `mainTemplate.hooks.localVars.tap`.  In my repro I stripped o

[2021-08-12 18:45] jscheid commented on #165
Thanks for the repro. On the Webpack issue you said:

This sounds like an issue in Webpack so I'm closing this. Feel free to reopen if it turns out there's something we can do at our end to help.

[2021-08-12 18:45] #165 closed

[2021-08-16 18:16] danrevah opened #166 "Compressed files and integrity issues"
There's seem to be an issue with `webpack-subresource-integrity` while using it combined with `compression-webpack-plugin`. I saw that there was a similar issue that was closed (#125) with this repo as POC: https://github.com/jscheid/wsi-issue-125.

Trying to use the `SriPlugin` with a single hash function still throwed an integrity error for me.

[code]

Appreciate your thoughts on this one.

**E

[2021-08-16 19:43] danrevah commented on #166
Yep, after digging into it a bit furthur it is a race-condition.

I'm using `compression-webpack-plugin@6.1.1` & `webpack-subresource-integrity@1.5.2` and it seems like that if I cahnge the `tapPromise` (2 occurances on `v6.1.1`)  to `tap` in my project - it works as expected.

https://github.com/webpack-contrib/compression-webpack-plugin/blob/master/src/index.js

Is there anyway around this by fi

[2021-08-16 19:57] jscheid commented on #166
Which Webpack version are you using?

[2021-08-16 21:04] danrevah commented on #166
4.41.5

[2021-08-16 21:24] jscheid commented on #166
If I use these package versions and your webpack config from above, I'm getting `WARNING in Conflict: Multiple assets emit different content to the same filename .gz` and other warnings, which makes me think there is an incompatibility somewhere.

It would be best if you could fork my sample to create a new demo repository. Make sure it contains a `package-lock.json` or `yarn.lock` file so I can t

[2021-08-16 21:28] danrevah commented on #166
After your question regarding the Webpack version, I tried upgrading to latest Webpack (v4), and it seems like upgrading webpack from `v4.41.5` to `v44.4.2`  currently solves it.

i'll continue testing this tommorow and will update the ticket accordingly.

Thanks!

[2021-08-17 08:44] #166 closed

[2021-08-17 08:54] danrevah commented on #166
This was a really nice issue to investigate, it came from the fact we were using the compression plugin to override the `.js` files instead of generating it them separately.

This caused a race condition between `webpack-subresource-integrity` and `compression-webpack-files`, it seems like the compression sometimes took longer and the subresource-integrity was signing the file **before** the compr

[2021-08-17 10:54] jscheid commented on #166
Ah yes, that's an interesting one. Thanks for following up.

Perhaps `compression-webpack-plugin` should warn or error when overwriting files, since clearly it isn't designed to do that (considering that, at least on the Webpack 4 code path, it's using the `emit` hook which isn't the place for transforming existing assets.)

[2021-08-24 20:49] jscheid commented on #144
5.0.0 release is out! 🎉 Thanks all for your feedback and your patience.

[2021-08-24 20:49] #144 closed

[2021-09-03 07:07] Katochimoto opened #167 "Can not use with external scripts in webpack 5"
"webpack": "5.51.1"
"webpack-subresource-integrity": "5.0.0"

Webpack config
[code]

Error
Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'undefined')

https://disk.yandex.ru/d/jkJgW-Q0zLSg4Q

[2021-09-03 07:57] jscheid commented on #167
Interesting. What do you expect to happen instead? I'm asking because without supplying the integrity hash in some way via config, you're probably better off disabling this plugin anyway.

That said at the very least we should be printing a better error message in this case.

[2021-09-03 08:06] jscheid commented on #167
If you do want to use SRI, the best workaround is probably to use an explicit `<script>` tag with `integrity` like in the example at the top of https://webpack.js.org/configuration/externals/#externals

[2021-09-03 08:07] Katochimoto commented on #167
At least report the error as a warning without interrupting the build process.
Or it might be worth providing the ability to add your own hashes by names.
[code]

[2021-09-20 07:12] themgoncalves commented on #167
The same issue happens for the following scenario:

[code]

Where it outputs

[code]

[2021-09-23 19:46] jpmckearin commented on #131
Clarification needed, does this effect **only** v1.5.0, or **all** versions before v1.5.1.
The [advisory that was published by the repo](https://github.com/waysact/webpack-subresource-integrity/security/advisories/GHSA-4fc4-chg7-h8gh) states v1.5.0, but the [advisory that GitHub publishes](https://github.com/advisories/GHSA-4fc4-chg7-h8gh) states <1.5.1

[2021-09-23 20:05] jahed commented on #131
@jpmckearin 1.5.0 only. It was a bug introduced in 1.5.0 and fixed in 1.5.1.

[2021-10-10 08:38] iiroj opened #168 "Is the asset processing stage correct for this plugin?"
Hello,

I'm looking to integrate this plugin into my workflow, but noticed it's using the `processAssets` hook at the `PROCESS_ASSETS_STAGE_OPTIMIZE_INLINE` stage.

According to the [docs](https://webpack.js.org/api/compilation-hooks/#list-of-asset-processing-stages) this stage is used to

Would the `PROCESS_ASSETS_STAGE_OPTIMIZE_HASH` stage be a better match, since it's used to

Thank you for thi

[2021-10-10 11:16] iiroj commented on #168
I was able to resolve my problem by ensuring the order of plugins is such that `webpack-subresource-integrity` is the last.

I just think that because plugins in this stage can still edit the contents of assets, it would be conceptually more correct to have this plugin in the next stage where assets should already be finalised.

[2021-10-10 12:05] iiroj commented on #168
Thanks for your reply. As per your explanation I now believe it is indeed in the correct stage already, but I might as well fork and try creating a test case for the plugin order anyway.

I'll close the issue for now.

[2021-10-10 12:05] #168 closed

[2021-11-03 09:05] lorandbv opened #170 "webpack-subresource-integrity throws warning and the build fails"
Hello, I receive this warning when running the build:
`Warning: webpack-subresource-integrity: Cannot determine asset for chunk scripts, computed="undefined", available=scripts.579a133b2d733cb6e0bc.js.`

I can't find the issue or a solution.
The version used is `"webpack-subresource-integrity": "^1.5.2".`
Angular version is angular 11

I attached the script file in .txt format.

[scripts.579a133b2

[2021-11-03 09:09] lorandbv commented on #170
also here is the `package.json` content

[code]

[2021-12-10 18:18] MLoughry opened #171 "Only include hashes for direct child chunks"
I'll probably try to take a crack at making a PR to do this myself, but figured I'd solicit some insight first.

Our product has ~1,500 JS assets, and so the SRI hashes alone account for ~80kB of bundle size in the entry chunk. Moreover, we're trying to integrate a large component from a partner team that has a lot of localization assets, doubling that number.

My thought is that, rather than have

[2021-12-10 21:21] jscheid commented on #171
This would be a welcome feature, thanks! I can't see anything wrong with your plan. There is already some code in place to walk the dependency tree depth first which you could piggyback off of, IIRC (`findChunks`).

[2021-12-15 05:34] MLoughry commented on #171
@jscheid I have a draft PR (without new tests) out now, before I disappear for the holidays. #172

[2021-12-15 09:18] jscheid commented on #171
Awesome, thanks! I'm also traveling and won't be able to take a look before next week.

[2021-12-20 09:33] jscheid commented on #170
Sorry for the late reply. I'm closing this as a duplicate of #141. In short, you need to upgrade to angular-cli 12 or newer, or find a way to override the version of this plugin (e.g. using yarn resolutions.)

[2021-12-20 09:33] #170 closed

[2022-01-09 23:11] #171 closed

[2022-01-12 23:20] jscheid commented on #171
This is now released in version 5.1.0.

[2022-02-04 14:22] Franccescalee opened #174 "An unhandled exception occurred: Class extends value undefined is not a constructor or null"
Trying to run ng build of my app and I am getting the "An unhandled exception occurred: Class extends value undefined is not a constructor or null" error. Any help would be greatly appreciated. Using latest of webpack-subresource-integrity, latest @angular-devkit\build-angular & latest Typescript.

[error] TypeError: Class extends value undefined is not a constructor or null
    at Object.<anonymo

[2022-02-05 07:11] jscheid commented on #174
Could you send over your `package-lock.json` or `yarn.lock` file?

[2022-02-05 14:14] Franccescalee commented on #174
I have attached those files in a zip.
[files.zip](https://github.com/waysact/webpack-subresource-integrity/files/8008137/files.zip)

[2022-02-05 21:42] jscheid commented on #174
No problem. Your use of storybook forces Webpack to version 4:

[code]

That version is incompatible with a number of other dependencies you've installed, including the version of our plugin that you're using (5.1.0).

To fix this, remove storybook or [enable Webpack 5 support for storybook](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#webpack-5), then ensure that you're using W

[2022-02-06 13:29] Franccescalee commented on #174
It looks like I need to update some other libraries as well but I am no longer running into the original error after enabling Webpack 5 for storybook. Thank you again for your help!

[2022-02-06 13:32] Franccescalee commented on #174
Sorry, you said you were going to leave it open.

[2022-02-10 16:42] melloware opened #175 "SRI with PurgeCSS plugin"
I posted all the details here: https://github.com/FullHuman/purgecss/issues/854

but was wondering if you had thoughts I would love to incorporate that plugin which strips out unused CSS before your SHA integrity hash is calculated with your plugin.  Just wondered if you had any thoughts on how to go about that with Webpack.

[2022-02-11 20:53] melloware commented on #175
Figured it out: https://github.com/melloware/react-security-hardening/blob/main/config-overrides.js

[2022-02-11 20:53] #175 closed

[2022-03-26 18:48] AmsterGet opened #176 "Subresource Integrity support for Module Federation plugin chunks"
Hello!
I use `webpack-subresource-integrity` plugin together with [`webpack module federation`](https://webpack.js.org/concepts/module-federation/) and it throws an error during build process `ERROR in webpack-subresource-integrity: Asset {assetName} contains unresolved integrity placeholders`.

I may be missing something in the configuration, but it seems that hashes are not resolved for chunks g

[2022-03-26 22:52] jscheid commented on #176
We could add a mechanism to pass a URL-to-hash mapping as suggested [here](https://github.com/webpack/webpack/issues/14310#issuecomment-925789886), and bake that into entry chunks (or ideally into all chunks which will load the URL when `hashLoading: "lazy"`). That would be useful for #167 as well.

Happy to take a look when I can find some time, in the meantime a PR for this is welcome.

[2022-03-28 10:52] jscheid commented on #176
Could you provide a repro for the `contains unresolved integrity placeholders` error?

[2022-03-28 13:16] pixagraphic opened #178 "Interoperability with 'mini-css-extract-plugin'"
Hi there,

I checked all the closed issues on this problem but I could not find a solution and didn't understand if this was fixed in any way.
I try to get SRI for `<link>` tags that are dynamically added by the min-css-extract-plugin. I tried to add them manually like this:

[code]
But now I'm not sure how to access the files hash at this point (sha384-....). Or maybe there is a smarter way of ge

[2022-03-28 15:00] AmsterGet commented on #176
You can reproduce it [here](https://github.com/AmsterGet/microfrontends-poc) for `application-a` and `application-b` builds.

[2022-04-03 18:16] ivany4 opened #179 "Interoperability with resource hints"
Compilation breaks when `webpack-subresource-integrity` is used together with `html-webpack-preconnect-plugin` that injects `<link rel="preconnect" href="..." />` tag. SRI plugin tries to download the given file (which in this case is not a file but origin domain for preconnecting) and fails with a very obscure error:

[code]

I see the mentions of `<link rel="preload">` in the documentation, but

[2022-04-04 20:44] jscheid commented on #179
@ivany4 never mind, I can put the test case together myself no problem.

[2022-06-09 19:49] jaslloyd opened #180 "Upgraded from 1 -> 5 and now integrity value is not available in custom webpack plugin"
Hey we have been on v1 for a long time and we finally got around to updating to v5 and we noticed that integrity value is no longer available on the asset[filename]. We are using webpack 5, we are not using HtmlWebpackPlugin here is the sample of code of our webpack plugin:

[code]

Any ideas of how we would get this .integrity value inside our custom plugin, I tried the 'done' hook but it wasn't

[2022-06-09 22:09] jaslloyd commented on #180
@jscheid thanks for the quick response, it's interesting in the example and I can see that I can get it in the done hook. Do you know how I can access it in `emit` hook?

As the emit hook is not a stats parameter its a compilation hook. I tried `compilation.getAssets().forEach(({ info }) => console.log(info.contentHash[1]))`

which seems to be it but seems a little bit messy. I need it in the emit

[2022-06-09 22:51] jscheid commented on #180
There is `compilation.getStats().toJson()`, does that work?

[2022-06-11 13:50] jaslloyd commented on #180
@jscheid Yeah so that did work I am going to put this here incase anybody else runs into this.

[code]

Going to close this thank you so much!

[2022-06-11 13:50] #180 closed

[2022-06-15 07:27] mredaelli opened #181 "Chunk with id `0` missing from `sriHashes`"
We just ported our project to Angular 14, and suddenly started getting this error:

we tracked it down to a module being lazily loaded. Looking around, we found that its entry being missing from the `sriHashes` object in `runtime.js`.

Since:
-  there is only one chunk missing in the object, and it's the one with id 0, and
-    adding "namedChunks": true, to the build configuration seems to solve

[2022-06-15 07:29] jscheid commented on #181
Which version of this plugin are you using, which version of Webpack?

[2022-06-15 07:35] mredaelli commented on #181
webpack "5.72.1"
    webpack-dev-middleware "5.3.1"
    webpack-dev-server "4.9.0"
    webpack-merge "5.8.0"
    webpack-subresource-integrity "5.1.0"

[2022-06-15 07:41] jscheid commented on #181
Thanks. This looks like a bug, and your guess (0 being falsy) seems likely. The next step would be to create a failing test case, could you help with that?

[2022-06-15 07:56] mredaelli commented on #181
Possibly, but I'm not really a frontend guy and webpack is one big black box to me.

Maybe if you can give some pointers. How do I mock a chunk with a particular id? I looked around in the unit tests but didn't get very far

[2022-06-15 09:14] jscheid commented on #181
I'd prefer an integration test rather than a mock. A test repository that demonstrates the issue would be perfect, I could turn that into a test easily. Do you have an idea which webpack config would generate a chunk with ID 0?

[2022-06-29 21:52] joergbaier opened #182 "Firefox integrity hash + csp issue"
While this is not necessarily an issue with webpack-subresource-integrity, people here may be the most helpful with our issue.

---

When using the Angular subresource-integrity build option, several script tags are injected into the index.html like the one below:

[code]

Our S3+CloudFront hosted Angular application will initialize in Chrome and Safari, but not Firefox due to the following error:

[2022-06-29 22:36] jscheid commented on #182
The most likely explanation, based on your description, is that _index.html_ gets cached and is stale. Have you had a look at it yet (using the DOM inspector in FF) to see if the hash on the script tag is what you'd expect?

[2022-06-29 22:44] jscheid commented on #182
Or it could be an extension. If you have any installed, make sure they're all disabled.

[2022-06-29 23:20] joergbaier commented on #182
The index.html is fresh (we are sending cache-control: no-store) and can see that a full network request is occurring to fetch that file.

I've disabled extensions and getting the same error.

[2022-06-29 23:37] jscheid commented on #182
Curious. If you can absolutely rule out caching, proxies, extensions, service workers, (malicious actors 😄) -- anything that could mess with the responses/contents -- (maybe try a fresh install on a different machine just to be sure) then you may have hit a bug? Perhaps one that only gets triggered in certain edge cases, possibly to do with the CSP and/or your use of modules? It's not inconceivabl

[2022-06-30 16:32] joergbaier commented on #182
Thanks for the leads, I'll try a few more CSP/no-CSP & ServiceWorker/no-ServiceWorker combinations and report back in a day or two ... last resort I'll try the FF from source 😅

[2022-06-30 21:18] joergbaier commented on #182
I believe the issue is narrowed down to this combination:
- Firefox
- <script integrity="sha384-foo">
- Content-Security-Policy: script-src 'strict-dynamic' 'sha384-foo'

If I am reading this correctly ... Firefox doesn't actually support this combination.
https://bugzilla.mozilla.org/show_bug.cgi?id=1409200#c13

[2022-07-01 02:38] #182 closed

[2022-08-30 15:37] RyFive85 opened #183 "TypeError: Class extends value undefined is not a constructor or null"
When I add the following to my webpack.config.js:

const { SubresourceIntegrityPlugin } = require('webpack-subresource-integrity');

I get the following stack trace when trying to build.

TypeError: Class extends value undefined is not a constructor or null
    at Object.<anonymous> (%path%\node_modules\webpack-subresource-integrity\index.js:38:49)
    at Module._compile (%path%\node_modules\v8-co

[2022-08-30 18:20] RyFive85 commented on #183
I get the same when adding

const { SriPlugin } = require('webpack-subresource-integrity');

[2022-08-30 21:13] jscheid commented on #183
Are you using a Webpack <5?
https://github.com/waysact/webpack-subresource-integrity/issues/174

[2022-08-30 21:17] RyFive85 commented on #183
@jscheid I'm using 4.46.0, so that's when I tried `const SriPlugin = require('webpack-subresource-integrity');` and still couldn't get it to work.

[2022-08-30 21:18] jscheid commented on #183
Version 5 of this plugin requires Webpack 5. You either need to upgrade Webpack or use version 1.x of this plugin.

[2022-08-30 21:57] RyFive85 commented on #183
@jscheid thanks, that was the issue. I did notice that constraint and did adhere to the syntax shown on the 1.x branch, and I could've sworn that I reverted the version of webpack-subresource-integrity, but I might've forgotten to install it.

Now I'm able to get it to build, but the integrity attribute is being set for all of the external assets. The only asset that is being injected with an inte

[2022-08-30 22:16] jscheid commented on #183
Sorry, we don't support external scripts at the moment. The primary use case is for bundling your dependencies from npm. See #167.

[2022-09-05 10:53] dmialeshka commented on #176
bump

[2022-11-28 22:06] Starefossen commented on #161
@Dandrum any chance you could share how you got this working with next.js? 🙏🏻